<div class="row">
  <div class="col-md-4" *ngFor="let conversation of filteredConversations">
   <conversation-card [conversation]="conversation" (onPlayVideo)="playVideo(conversation)"></conversation-card>
  </div>
</div>
