<div>
  <div class="row justify-content-center">
    <div class="col-md-10">
      <div class="panel mt-60 mb-20">
        <form *ngIf="step === 1 || step === 2" #donation_form="ngForm">
          <h2 class="mb-20">{{ campaign?.name }}</h2>
          <div class="campaign-description" [innerHTML]="campaign?.description"></div>

          <h3 class="mt-20 mb-30">Tipo de contribuição</h3>
          <div class="row justify-content-between mt-30 grid grid-half" *ngIf="checkout && campaign">
            <div class="custom-radio flex large" *ngIf="campaign.payment_types.includes(PaymentType.Monthly)">
              <input type="radio" name="tipo" id="doacao_mensal" [value]="PaymentType.Monthly" [(ngModel)]="checkout.payment_type" (ngModelChange)="onPaymentTypeChange()">
              <label for="doacao_mensal" class="w-100p">Doação Mensal</label>
            </div>
            <div class="custom-radio flex large" *ngIf="campaign.payment_types.includes(PaymentType.Single)">
              <input type="radio" name="tipo" id="doacao_unica" [value]="PaymentType.Single" [(ngModel)]="checkout.payment_type">
              <label for="doacao_unica" class="w-100p">Doação Única</label>
            </div>
          </div>
          <app-form-errors [field_error]="form_errors?.payment_type"></app-form-errors>

          <ng-container *ngIf="checkout?.payment_type === PaymentType.Single">
            <h3 class="mt-30 mb-30">Método de pagamento</h3>
            <div class="row mb-30 justify-content-between grid-half" *ngIf="checkout">
              <div class="custom-radio flex large">
                <input type="radio" name="method" id="forma_credito" [value]="method.Credito" [(ngModel)]="checkout.method">
                <label for="forma_credito">Crédito</label>
              </div>

              <div class="custom-radio flex large">
                <input type="radio" name="method" id="forma_boleto" [value]="method.Boleto" [(ngModel)]="checkout.method">
                <label for="forma_boleto">Boleto</label>
              </div>

              <!--
              <div class="custom-radio flex large">
                <input type="radio" name="method" id="forma_debito" [value]="method.Debito" [(ngModel)]="checkout?.method">
                <label for="forma_debito">Débito</label>
              </div>
              -->
            </div>
          </ng-container>

          <h3 class="mt-20 mb-30">Valor da contribuição</h3>
          <div class="row justify-content-between grid grid-third" *ngIf="campaign">
            <div class="custom-radio flex large" *ngFor="let valor of campaign.suggested_values; let i = index">
              <input type="radio" name="valor" [id]="'valor_' + i" [value]="valor" [(ngModel)]="checkout?.items[0].amount">
              <label [for]="'valor_' + i" class="w-100p">R$ {{ valor }}</label>
            </div>
          </div>

          <div class="form-inline mt-30">
            <div class="form-group w-100p">
              <label for="outro_valor" class="mr-30">
                <h4>Outro Valor</h4>
              </label>
              <div class="input-group mb-3 flex-1">
                <div class="input-group-prepend">
                  <span class="input-group-text text-pink" id="basic-addon1">R$</span>
                </div>
                <input type="text" name="alternative_value" class="form-control" aria-label="Valor Alternativo" aria-describedby="basic-addon1"
                  [(ngModel)]="alternative_value" (ngModelChange)="setAlternativeValue()">
              </div>
            </div>
          </div>

          <app-form-errors [field_error]="form_errors?.value"></app-form-errors>

          <ng-container *ngIf="campaign?.rubric.length > 0">
            <h3 class="mt-20 mb-30">Destino da contribuição</h3>
            <div class="row">
              <select required [ngClass]="{'border-danger': form_errors?.rubric }" [(ngModel)]="checkout.rubric" name="rubric">
                <option *ngFor="let rubric of campaign.rubric" [ngValue]="rubric">{{ rubric }}</option>
              </select>
              <app-form-errors [field_error]="form_errors?.rubric"></app-form-errors>
            </div>
          </ng-container>

          <h3 class="mt-20 mb-30">Dados Pessoais</h3>
          <div class="row">
            <div class="col-md-12 mb-20">
              <input required type="text" [ngClass]="{'border-danger': form_errors?.name}" [(ngModel)]="checkout?.sender.name"
                name="name" class="form-control" placeholder="Nome">
              <app-form-errors [field_error]="form_errors?.name"></app-form-errors>
            </div>

            <div class="col-md-12 mb-20">
              <input required email type="email" [ngClass]="{'border-danger': form_errors?.email}" [(ngModel)]="checkout?.sender.email"
                name="email" class="form-control" placeholder="Email">
              <app-form-errors [field_error]="form_errors?.email"></app-form-errors>
            </div>

            <div class="col-md-5 mb-20">
              <input required type="text" pattern="\d{3}.\d{3}.\d{3}-\d\d" [textMask]="{mask: cpfMask}" [ngClass]="{'border-danger': form_errors?.holder_cpf}"
                [(ngModel)]="checkout?.payment.holder_cpf" name="holder_cpf" class="form-control" placeholder="CPF">
              <app-form-errors [field_error]="form_errors?.holder_cpf"></app-form-errors>
            </div>

            <div class="col-md-2 mb-20">
              <input required type="text" [ngClass]="{'border-danger': form_errors?.phone_areacode}"
                [(ngModel)]="checkout?.sender.phone.areaCode" name="phone_areacode" class="form-control" placeholder="DDD">
              <app-form-errors [field_error]="form_errors?.phone_areacode"></app-form-errors>
            </div>

            <div class="col-md-5 mb-20">
              <input required pattern="(\d){5}-(\d){4}" type="text" [textMask]="{mask: phoneMask}" [ngClass]="{'border-danger': form_errors?.phone_number}"
                [(ngModel)]="checkout?.sender.phone.number" name="phone_number" class="form-control" placeholder="Telefone">
              <app-form-errors [field_error]="form_errors?.phone_number"></app-form-errors>
            </div>
          </div>

          <div class="row justify-content-center w-100p mt-20 mb-10" *ngIf="step === 1">
            <div class="errors center mb-10" *ngIf="!objectEmpty(form_errors)">
              <p class="error">*Por favor, corrija os erros no formulário</p>
            </div>
            <button type="button" (click)="step1Validation()" id="goto_step2" class="btn btn-success btn-large">Doar</button>
          </div>

          <ng-container *ngIf="step === 2">
            <h3 *ngIf="checkout?.payment && checkout?.method == method.Credito" class="mt-20 mb-30">Dados para pagamento</h3>
            <div *ngIf="checkout?.payment && checkout?.method == method.Credito" class="row">
              <div class="col-md-12 mb-20">
                <input required type="text" [ngClass]="{'border-danger': form_errors?.holder_name}" [(ngModel)]="checkout?.payment.holder_name"
                  name="holder_name" class="form-control" pattern="(\S+(\s*))+" placeholder="Nome (exatamente como aparece no cartão)">
                <app-form-errors [field_error]="form_errors?.holder_name"></app-form-errors>
              </div>

              <!-- <div class="col-md-10 mb-4 p-r">
                          <div *ngFor="let card of card_options; let i = index" class="ccs" style="float: left; margin: 0 1px 0;">
                            <img src="https://stc.pagseguro.uol.com.br{{ card.images.SMALL.path }}" alt="">
                          </div>
                        </div> -->
              <div class="col-md-5 mb-20 p-r">
                <!-- <div class="available-cc">
                            <small><i class="fas fa-question-circle"></i> Confira as bandeiras disponíveis</small>
                            <div *ngFor="let card of card_options; let i = index" class="ccs">
                              <img src="https://stc.pagseguro.uol.com.br{{ card.images.SMALL.path }}" alt="">
                            </div>
                          </div> -->
                <input required type="text" [ngClass]="{'border-danger': form_errors?.card_number}" [(ngModel)]="checkout?.payment.card_number"
                  name="card_number" class="form-control" placeholder="Número do cartão" autocomplete="off">
                <app-form-errors [field_error]="form_errors?.card_number"></app-form-errors>
              </div>

              <div class="col-md-4 mb-20">
                <input required [textMask]="{mask: expirationDateMask}" type="text" [ngClass]="{'border-danger': form_errors?.expiration_date}"
                  [(ngModel)]="checkout?.payment.expiration_date" pattern="(\d){2}\/(\d){4}" name="expiration_date" class="form-control mt-25"
                  placeholder="Validade" autocomplete="off">
                <app-form-errors [field_error]="form_errors?.expiration_date"></app-form-errors>
              </div>

              <div class="col-md-3 mb-20">
                <div class="input-tooltip">
                  <i class="fas fa-question-circle"></i>
                  <div class="tooltip">
                    <img src="/assets/images/cvv-help.png" alt="" width="140">
                  </div>
                </div>
                <input required minlength="3" type="text" [ngClass]="{'border-danger': form_errors?.card_cvv}" [(ngModel)]="checkout?.payment.card_cvv"
                  name="card_cvv" class="form-control" placeholder="CVV" autocomplete="off">
                <app-form-errors [field_error]="form_errors?.card_cvv"></app-form-errors>
              </div>
            </div>

            <div class="row" *ngIf="checkout?.payment">
              <div class="col-md-5 mb-20">
                <input required pattern="\d{2}\/\d{2}\/\d{4}" [textMask]="{mask: dateMask}" type="text" [ngClass]="{'border-danger': form_errors?.birth_date}"
                  [(ngModel)]="checkout?.payment.holder_birth_date" name="holder_birth_date" id="holder_birth_date" class="form-control"
                  placeholder="Data de nascimento">
                <app-form-errors [field_error]="form_errors?.birth_date"></app-form-errors>
              </div>
            </div>

            <div class="row" *ngIf="checkout?.payment">
              <div class="col-md-4 mb-20 text-right">
                <input required type="text" pattern="\d{5}-\d{3}" [textMask]="{mask: cepMask}" [ngClass]="{'border-danger': form_errors?.postal_code}"
                  [(ngModel)]="checkout?.payment.postal_code" (blur)="fetchAddress()" name="postal_code" class="form-control" placeholder="CEP">
                <app-form-errors [field_error]="form_errors?.postal_code"></app-form-errors>
                <small class="mr-2">
                  <a href="http://www.buscacep.correios.com.br/sistemas/buscacep/" target="_blank">Não sei meu CEP</a>
                </small>
              </div>
              <div class="col-md-3 mb-20">
                <select required [ngClass]="{'border-danger': form_errors?.state || form_errors?.state_uf }" [(ngModel)]="checkout?.payment.state" name="state" (ngModelChange)="getCities()">
                  <option value="" disabled>Estado</option>
                  <option *ngFor="let state of regions" [ngValue]="state.id">{{ state.name }}</option>
                </select>
                <app-form-errors [field_error]="form_errors?.state"></app-form-errors>
                <app-form-errors [field_error]="form_errors?.state_uf"></app-form-errors>
              </div>
              <div class="col-md-5 mb-20">
                <select required [ngClass]="{'border-danger': form_errors?.city}" [(ngModel)]="checkout?.payment.city" name="city">
                  <option value="" disabled>Cidade</option>
                  <option *ngFor="let city of cities" [ngValue]="city.id">{{ city.name }}</option>
                </select>
                <app-form-errors [field_error]="form_errors?.city"></app-form-errors>
              </div>
              <div class="col-md-6 mb-20">
                <input required type="text" [ngClass]="{'border-danger': form_errors?.district}" [(ngModel)]="checkout?.payment.district"
                  name="district" class="form-control" placeholder="Bairro">
                <app-form-errors [field_error]="form_errors?.district"></app-form-errors>
              </div>
              <div class="col-md-6 mb-20">
                <input required type="text" [ngClass]="{'border-danger': form_errors?.street}" [(ngModel)]="checkout?.payment.street" name="street"
                  class="form-control" placeholder="Rua">
                <app-form-errors [field_error]="form_errors?.street"></app-form-errors>
              </div>
              <div class="col-md-4 mb-20">
                <input required maxlength="10" type="text" [ngClass]="{'border-danger': form_errors?.number}" [(ngModel)]="checkout?.payment.number" name="number"
                  class="form-control" placeholder="Número">
                <app-form-errors [field_error]="form_errors?.number"></app-form-errors>
              </div>
              <div class="col-md-8 mb-20">
                <input type="text" [ngClass]="{'border-danger': form_errors?.complement}" [(ngModel)]="checkout?.payment.complement"
                  name="complement" class="form-control" placeholder="Complemento">
                <app-form-errors [field_error]="form_errors?.complement"></app-form-errors>
              </div>
            </div>

            <div class="row" *ngIf="checkout?.payment">
              <!--
              <div class="col-md-12">
                <div class="custom-checkbox flex large">
                  <input type="checkbox" name="agreement" id="terms_agreement" [(ngModel)]="agreement">
                  <label for="terms_agreement" class="w-100p" class="terms_agreement"><a href="http://ujs.org.br/index.php/material-download/19o-congresso-da-ujs/" target="_blank">Li e concordo com o regimento interno do 19º congresso da UJS</a>
                  </label>
                  <app-form-errors [field_error]="form_errors?.agreement"></app-form-errors>
                </div>
              </div>
              -->

              <div class="row justify-content-center">
                <ngx-invisible-recaptcha #recaptcha type="image" badge="inline" lang="pt_BR" class="recaptcha-badge" (success)="markAsHuman($event)"></ngx-invisible-recaptcha>
                <app-form-errors [field_error]="form_errors?.captcha"></app-form-errors>
              </div>
              <div *ngIf="form_errors?.transaction" class="row justify-content-center col-md-12 mt-30 mb-10">
                <app-form-errors [field_error]="form_errors?.transaction"></app-form-errors>
              </div>
              <div class="row justify-content-center w-100p mt-20 mb-10">
                <div class="errors center mb-10" *ngIf="!objectEmpty(form_errors)">
                  <p class="error">*Por favor, corrija os erros no formulário</p>
                  <!-- <div class="error">Há erros no cadastro, corrija para prosseguir com a doação</div> -->
                </div>
                <button type="submit" (click)="verifyRobot()" id="send_payment" class="btn btn-success btn-large" #send_payment>Concluir</button>
              </div>
            </div>
          </ng-container>
        </form>

        <ng-container *ngIf="step == 0">
          <p>
            Não foi possível fazer sua doação no momento, tente mais tarde
          </p>
          <p>
            Nós utilizamos a plataforma de pagamentos PagSeguro, que está não disponível no momento, se o problema persistir, entre em
            contato conosco
          </p>
        </ng-container>
        <ng-container *ngIf="checkout && step == 4">
          <h3 class="mb-30" *ngIf="checkout.payment_type === PaymentType.Single">O seu pagamento foi realizado com sucesso!</h3>
          <h3 class="mb-30" *ngIf="checkout.payment_type !== PaymentType.Single">A sua assinatura foi realizada com sucesso!</h3>
          <p class="mb-10">{{ checkout?.sender.name }}, agradecemos seu pagamento!
            <span *ngIf="checkout.method == method.Boleto">
              Falta pouco para a finalização, acesse o link abaixo para o pagamento do boleto
            </span>
          </p>
          <h4 class="mb-10">Extrato da Transação</h4>
          <table class="table">
              <tbody>
                <tr>
                  <th scope="row">Nome</th>
                  <td>{{ checkout?.sender.name }}</td>
                </tr>
                <tr>
                    <th scope="row">CPF</th>
                    <td>{{ checkout?.sender.cpf }}</td>
                  </tr>
                <tr>
                  <th scope="row">Valor da transação</th>
                  <td>{{ amount | currency:'BRL' }}</td>
                </tr>
                <tr>
                  <th scope="row">Localização</th>
                  <td>{{ city }} / {{ state }}</td>
                </tr>
                <tr>
                    <th scope="row">Código da Transação</th>
                    <td>{{ checkout?.status.result?.code }}</td>
                </tr>
                <tr>
                    <th scope="row">Data e Horário</th>
                    <td>{{ checkout?.status.result?.date | date:'short' }}</td>
                </tr>
                <tr *ngIf="checkout.method == method.Boleto">
                    <th scope="row">Pagamento</th>
                    <td><a target="_blank"
                       href="{{ checkout?.status.result?.paymentLink }}">
                       Link para baixar e pagar o Boleto
                    </a>
                    </td>
                </tr>
              </tbody>
            </table>
        </ng-container>
      </div>
    </div>
  </div>
</div>
