.login-social {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    margin: 0 auto;
    justify-content: center;

    li {
        margin-right: 20px;

        &:last-child{
            margin-right: 0px;
        }
    }

    li a {
        width: 90px;
        height: 90px;
        border-radius: 50%;
        font-size: 45px;
        color: white;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

.small-links{
    display: flex;
    justify-content: space-between;

    span{
        color: gray;
        font-size: 14px;
        font-weight: 500;

        a{
            color: #00AFF0
        }
    }
}