<form class="container form-with-validation text-center">
  <div class="row justify-content-center">
    <div class="col-md-12">
        <!-- <h2 class="text-primary text-center"> -->
          <!-- <p>Filiação</p> -->
        <!-- </h2> -->
    </div>
  </div>
  <div class="collapsable-body row">
    <!-- <div class="col-md-12 m-0auto text-center">
      <p class="text-center mt-20 mb-20"><strong>para se filiar, entre com suas redes sociais</strong></p>
      <p class="text-center mt-20 mb-20"><strong>para se filiar, entre com o Facebook</strong></p>
      <ul class="login-social">
        <li> <a class="btn btn-block btn-blue" (click)="loginWithFacebook()"><i class="fab fa-facebook-f"></i></a> </li>
        <li> <a class="btn btn-block btn-lightblue"><i class="fab fa-twitter"></i></a> </li>
      </ul>
    </div>
    <div class="col-md-12 text-center">
      <p class="text-center mt-30"><strong>ou entre com seu login no Ocupa!</strong></p>
    </div> -->
    <div class="col-md-12 text-center">
      <p class="text-center mt-30"><strong>O primeiro passo é inserir seu e-mail</strong></p>
    </div>
    <div class="col-md-12">
      <input type="email" name="email" placeholder="Email" [(ngModel)]="user.email" required>
      <app-form-errors [field_error]="formErrors?.email"></app-form-errors>
    </div>
    <div *ngIf="user.exists" class="col-md-12">
      <p class="text-center mt-30">Você já tem um cadastro! Digite abaixo sua senha</p>
      <input type="password" name="password" placeholder="Senha" [(ngModel)]="user.password" required>
      <app-form-errors [field_error]="formErrors?.password"></app-form-errors>
    </div>
    <div *ngIf="user.exists" class="col-md-12">
      <div class="small-links">
        <!-- <span>Não tem uma conta? <a href="/afiliacao/formulario">Cadastre-se e filie-se aqui!</a></span> -->
        <span><a routerLink="/campanha/recuperar-senha">Esqueci minha senha</a></span>
      </div>
    </div>
  </div>
  <div *ngIf="!user.exists" class="row">
    <div class="col-md-8 m-0auto text-center mt-20">
      <button (click)="checkUserStatus()" class="btn btn-large mb-60">Verificar usuário</button>
    </div>
  </div>
  <div *ngIf="user.exists" class="row">
    <div class="col-md-8 m-0auto text-center mt-20">
      <button type="submit" (click)="login()" class="btn btn-large mb-60">Prosseguir</button>
      <app-form-errors [field_error]="formErrors?.non_field_errors"></app-form-errors>
    </div>
  </div>
</form>
