<div class="row justify-content-center">
  <div class="col-md-8">
    <form #signInForm="ngForm" (ngSubmit)="login()" class="login_form">
      <app-form-errors [field_error]="formErrors?.non_field_errors"></app-form-errors>
      <app-form-errors [field_error]="formErrors"></app-form-errors>
      <div class="row">
        <div class="col-md-8 m-0auto text-center mt-30" *ngIf="socialLogin">
          <p class="text-center mt-20 mb-20"><strong>Entre com suas redes sociais</strong></p>
          <div class="alert alert-danger" *ngIf="socialErrors">
            {{ socialErrors }}
          </div>
          <ul class="login-social">
            <li> <a class="btn btn-block btn-blue" (click)="loginWithFacebook()"><i class="fab fa-facebook-f"></i></a> </li>
            <li> <a class="btn btn-block btn-lightblue" (click)="loginWithTwitter()"><i class="fab fa-twitter"></i></a> </li>
          </ul>
        </div>
        <div class="col-md-12 mb-10">
          <p class="text-center mt-30"><strong>Entre com seu cadastro no Ocupa</strong></p>
        </div>
        <div class="col-md-12">
            <input type="email" class="form-control" id="email" [(ngModel)]="user.email" name="email" placeholder="{{'login.email' | translate }}" required>
        </div>
        <app-form-errors [field_error]="formErrors?.email"></app-form-errors>
        <div class="col-md-12">
            <input type="password" class="form-control"
            id="password" name="password" placeholder="{{'login.password' | translate }}"
            [(ngModel)]="user.password" required>
            <app-form-errors [field_error]="formErrors?.password"></app-form-errors>

          <div class="small-links">
            <span>Não tem uma conta? <a [href]="signupPath">Cadastre-se</a></span>
            <span><a [href]="recoverPasswordPath">Esqueci minha senha</a></span>
            <!-- <span><a href="/sobre/termos-de-uso">Termos de uso</a></span> -->
          </div>
          <!-- <div class="small-links">
            <span><a [href]="recoverPasswordPath">Esqueci minha senha</a></span>
            <span><a href="/sobre/politica-de-privacidade">Política de privacidade</a></span>
          </div> -->
        </div>
        <div class="col-md-8 m-0auto text-center mt-20">
          <button [disabled]="!signInForm.form.valid" type="submit" class="btn btn-large orange" translate>{{'login.button.sign_in'}}</button>
        </div>
      </div>
    </form>
  </div>
</div>