.small-links{
    display: flex;
    justify-content: space-between;

    span{
        color: gray;
        font-size: 14px;	
        font-weight: 500;

        a{
            color: #00AFF0
        }
    }
}