<div class="row justify-content-center">
  <div class="col-md-8">

    <form #resetForm="ngForm" (ngSubmit)="reset()">
      <div class="row">
        <div class="col-md-12" *ngIf="!message">
          <p class="text-center mt-30"><strong>Preencha o campo abaixo para recuperar senha</strong></p>
          <input type="email" placeholder="E-mail" id="email" name="email" [(ngModel)]="email" required>
          <app-form-errors [field_error]="formErrors?.email"></app-form-errors>

          <div class="small-links">
            <span>Não tem uma conta? <a [href]="signupPath">Cadastre-se</a></span>
            <!-->
            <span><a href="/sobre/termos-de-uso">Termos de uso</a></span>
          </div>
          <div class="small-links">
            <span></span>
            <span><a href="/sobre/politica-de-privacidade">Política de privacidade</a></span>
          -->
          </div>
        </div>
        <div *ngIf="message" class="col-md-12">
          <h3 class="text-center mt-20">Enviamos uma mensagem para seu email</h3>
        </div>

        <div class="col-md-8 m-0auto text-center mt-20" *ngIf="!message">
          <button [disabled]="!resetForm.form.valid" type="submit" class="btn btn-large orange" translate>Enviar</button>
        </div>
      </div>
    </form>
  </div>
</div>