<div class="card-post">
    <img src="" alt="">
    <div class="card-post--info">
      <p class="card-post--title"><b>Solange Maria</b> comentou  no tópico <a href="#">A escola sem partido é apartidária?</a></p>
      <small>No <a href="#">Fórum Geral</a></small>
      <div class="card-post--activity">
        <small>Última atividade há <a href="#">21 dias</a></small>
        <small class="social">
            <a href="#"><i class="fas fa-share"></i> 6 comentários</a>
            <a href="#"><i class="fas fa-heart"></i> 5 gostaram</a>
        </small>
      </div>
    </div>
</div>
