.card-post{
    display: flex;
    margin-bottom: 25px;

    &--title{
        color: #4A4A4A;
        font-size: 16px;
        margin-bottom: 0;
    }

    small{
        color: #A3A2A4;
        font-size: 14px;
    }

    a{
        color: #C81967;
    }

    &--activity{
        display: flex;

        small{
            flex: 1;
        }

        .social{
            text-align: right;

            .fa-share{ margin-right: 10px; }
        }
    }
}