<div class="candidate-card">
    <div class="candidate-card--header">
        <div class="candidate-card--image" [ngStyle]="{ 'background-image' : 'url('+candidate.image+')'}"></div>
        <h3 class="candidate-card--title text-uppercase text-white">{{ candidate.name }}</h3>
    </div>
    <div class="candidate-card--body">
        <p *ngIf="candidate.party"><b class="text-uppercase">Partido: </b>{{ candidate.party }}</p>
        <p *ngIf="candidate.city"><b class="text-uppercase">Cidade: </b>{{ candidate.city }}</p>
        <p *ngIf="candidate.role"><b class="text-uppercase">Cargo: </b>{{ candidate.role }}</p>
        <p [innerHtml]="candidate.description"></p>

        <div class="candidate-card--social-medias">
            <a *ngIf="candidate.social_medias.facebook" target="_blank" [href]="'https://fb.com/' + candidate.social_medias.facebook"><i class="fab fa-facebook-f"></i></a>
            <a *ngIf="candidate.social_medias.twitter" target="_blank" [href]="'https://twitter.com/' + candidate.social_medias.twitter"><i class="fab fa-twitter"></i></a>
            <a *ngIf="candidate.social_medias.instagram" target="_blank" [href]="'https://instagram.com/' + candidate.social_medias.instagram"><i class="fab fa-instagram"></i></a>
            <a *ngIf="candidate.social_medias.flickr" target="_blank" [href]="'https://flickr.com/' + candidate.social_medias.flickr"><i class="fab fa-flickr"></i></a>
            <a *ngIf="candidate.social_medias.email" target="_blank" [href]="'mailto:' + candidate.social_medias.email"><i class="fa fa-envelope"></i></a>
            <a *ngIf="candidate.social_medias.whatsapp" target="_blank" [href]="'intent://send/+'+ candidate.social_medias.whatsapp + '#Intent;scheme=smsto;package=com.whatsapp;action=android.intent.action.SENDTO;end'" class="show-for-mobile"><i class="fab fa-whatsapp"></i></a>
            <a *ngIf="candidate.social_medias.site" target="_blank" [href]="'https://'+candidate.social_medias.site" class="website">{{ candidate.social_medias.site.length >= 45 ? 'Visite o Site' : candidate.social_medias.site }}</a>
        </div>
    </div>
</div>