$pink : #C81967;

.candidate-card{
    border-radius: 20px;
    background-color: #FFFFFF;
    box-shadow: 1px 2px 4px rgba(0,0,0,0.3);
    height: 100%;
    border-radius: 20px;
    overflow: hidden;
    display: flex;
    flex-direction: column;

    &--header{
        background: radial-gradient(circle, #FCEA0D 0%, #FFDD00 37.51%, #F8B133 55.49%, #F29100 100%);
        padding: 35px 20px 20px 20px;
        text-align: center;
    }

    &--title{
        font-size: 36px;
        font-weight: 900;
    }

    &--image{
        height: 290px;
        width: 290px;
        border: 8px solid #FFFFFF;
        background-size: cover;
        background-position: center;
        border-radius: 50%;
        margin: 0 auto 25px auto;

        @media screen and (max-width: 1200px){
            width: 100%;
            height: 0;
            padding-top: calc(100% - 16px);
        }
    }

    &--body{
        padding: 30px 20px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        flex: 1;

        p{
            font-size: 16px;
            color: #555555;
        }

        b{
            font-family: "Capture it";
            color: $pink;
            font-size: 20px;
        }
    }

    &--social-medias{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

        & > a:not(.website) i{
            margin: 5px;
            font-size: 20px;
            border-radius: 50%;
            border: 2px solid #4c16af;
            width: 40px;
            height: 40px;
            padding: 9px 10px;
            text-align: center;
            color: #4d00b4;
        }

        & > a i.fa-envelope{ padding-left: 8.5px; }

        .website{
            min-width: 100%;
            text-align: center;
        }
    }
}
