<menu></menu>
<page-header color="pink" title="Faça uma Doação" ></page-header>
<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <h3 class="text-dark text-center mt-30 mb-45">É com sua contribuição e a de milhares de jovens que vamos nos manter na luta por um país melhor e mais justo.</h3>
      <div class="panel bg-pink mb-20">
        <form #donation_form="ngForm">
          <ng-container *ngIf="step >= 1 && step < 4">
            <h2 class="text-white mb-60">1 - Escolha um valor para sua contribuição</h2>

            <div class="row justify-content-between">
              <div class="custom-radio flex large" *ngFor="let valor of valores; let i = index">
                <input type="radio" name="valor" [id]="'valor_' + i" [value]="valor" [(ngModel)]="checkout?.items[0].amount">
                <label [for]="'valor_' + i" class="w-100p">R$ {{ valor }}</label>
              </div>
            </div>

            <div class="form-inline mt-30">
              <div class="form-group w-100p">
                <label for="outro_valor" class="mr-30">
                  <h3 class="text-white">Outro Valor</h3>
                </label>
                <div class="input-group mb-3 flex-1">
                  <div class="input-group-prepend">
                    <span class="input-group-text text-pink" id="basic-addon1">R$</span>
                  </div>
                  <input type="text" name="alternative_value" class="form-control" aria-label="Valor Alternativo" aria-describedby="basic-addon1"
                    [(ngModel)]="alternative_value">
                </div>
              </div>
            </div>

            <app-form-errors [field_error]="form_errors?.value"></app-form-errors>

            <!--
                              <div class="row justify-content-between mt-30">
                                <div class="custom-radio flex large">
                                  <input type="radio" name="tipo" id="doacao_mensal" [value]="TipoPagamento.Mensal" [(ngModel)]="payment_type">
                                  <label for="doacao_mensal" class="w-100p">Doação Mensal</label>
                                </div>
                                <div class="custom-radio flex large">
                                  <input type="radio" name="tipo" id="doacao_unica" [value]="TipoPagamento.Unico" [(ngModel)]="payment_type">
                                  <label for="doacao_unica" class="w-100p">Doação Única</label>
                                </div>
                              </div>
                              -->
            <div class="custom-checkbox flex large">
              <input type="checkbox" name="agreement" id="terms_agreement" [(ngModel)]="agreement">
              <label for="terms_agreement" class="w-100p" class="terms_agreement">Li e concordo com os
                <a>Termos de Uso</a>
              </label>
              <app-form-errors [field_error]="form_errors?.agreement"></app-form-errors>
            </div>
            <div class="row justify-content-center w-100p mt-60">
              <a href="javascript:void(0);" class="btn btn-success btn-large" (click)="authenticationStep()">Doar</a>
            </div>
          </ng-container>
          <ng-container *ngIf="step >= 2 && step < 4">
            <h3 class="text-white mb-30 mt-30">Identificação</h3>
            <div class="col-md-12 mb-20">    <input required email type="email" [ngClass]="{'border-danger': form_errors?.email}" [(ngModel)]="checkout.sender.email"
                name="email" class="form-control" updateOn="blur" placeholder="E-mail">
              <app-form-errors [field_error]="form_errors?.email"></app-form-errors>
            </div>
          </ng-container>

          <div *ngIf="step == 2" class="row justify-content-center w-100p mt-60">
            <a href="javascript:void(0);" class="btn btn-success btn-large" (click)="paymentStep()">Pagamento</a>
          </div>

          <ng-container *ngIf="step == 3">
            <h3 class="text-white mb-30 mt-30">Dados para doação</h3>
            <!-- <div class="mb-20">
                        <input required type="email" [ngClass]="{'border-danger': form_errors?.email}" [(ngModel)]="checkout.sender.email" name="email"
                          class="form-control" placeholder="E-mail">
                        <app-form-errors [field_error]="form_errors?.email"></app-form-errors>
                      </div> -->
            <!-- <h3 class="text-white mb-30">Forma de pagamento</h3>
                      <div class="row justify-content-between">
                        <div class="custom-radio small">
                          <input type="radio" name="method" id="forma_credito" [value]="method.Credito" [(ngModel)]="checkout.method">
                          <label for="forma_credito">CRÉDITO</label>
                        </div>

                        <div class="custom-radio small">
                          <input type="radio" name="method" id="forma_boleto" [value]="method.Boleto" [(ngModel)]="checkout.method">
                          <label for="forma_boleto">BOLETO</label>
                        </div>

                        <div class="custom-radio small">
                          <input type="radio" name="method" id="forma_debito" [value]="method.Debito" [(ngModel)]="checkout.method">
                          <label for="forma_debito">DÉBITO</label>
                        </div>
                      </div> -->
            <div *ngIf="checkout.method == method.Credito" class="row mt-30">
              <div class="col-md-8 mb-20">
                <input required type="text" [ngClass]="{'border-danger': form_errors?.holder_name}" [(ngModel)]="checkout?.payment.holder_name"
                  name="holder_name" class="form-control" pattern="(\S+(\s*))+" placeholder="Nome (exatamente como aparece no cartão)">
                <app-form-errors [field_error]="form_errors?.holder_name"></app-form-errors>
              </div>

              <div class="col-md-4 mb-20">
                <input required pattern="\((\d){2}\) (\d){5}-(\d){4}" type="text" [textMask]="{mask: phoneMask}" [ngClass]="{'border-danger': form_errors?.phone}"
                  [(ngModel)]="checkout.sender.phone_number" name="phone_number" class="form-control" placeholder="Telefone">
                <app-form-errors [field_error]="form_errors?.phone_number"></app-form-errors>
              </div>

              <!-- <div class="col-md-10 mb-4 p-r">
                          <div *ngFor="let card of card_options; let i = index" class="ccs" style="float: left; margin: 0 1px 0;">
                            <img src="https://stc.pagseguro.uol.com.br{{ card.images.SMALL.path }}" alt="">
                          </div>
                        </div> -->
              <div class="col-md-5 mb-20 p-r">
                <!-- <div class="available-cc">
                            <small><i class="fas fa-question-circle"></i> Confira as bandeiras disponíveis</small>
                            <div *ngFor="let card of card_options; let i = index" class="ccs">
                              <img src="https://stc.pagseguro.uol.com.br{{ card.images.SMALL.path }}" alt="">
                            </div>
                          </div> -->
                <input required type="text" [ngClass]="{'border-danger': form_errors?.card_number}" [(ngModel)]="checkout?.payment.card_number"
                  name="card_number" class="form-control" placeholder="Número do cartão">
                <app-form-errors [field_error]="form_errors?.card_number"></app-form-errors>
              </div>

              <div class="col-md-4 mb-20">
                <input required [textMask]="{mask: expirationDateMask}" type="text" [ngClass]="{'border-danger': form_errors?.expiration_date}"
                  [(ngModel)]="checkout?.payment.expiration_date" pattern="(\d){2}\/(\d){4}" name="expiration_date" class="form-control mt-25"
                  placeholder="Validade">
                <app-form-errors [field_error]="form_errors?.expiration_date"></app-form-errors>
              </div>

              <div class="col-md-3 mb-20">
                <div class="input-tooltip">
                  <i class="fas fa-question-circle"></i>
                  <div class="tooltip">
                    <img src="/assets/images/cvv-help.png" alt="" width="140">
                  </div>
                </div>
                <input required minlength="3" type="text" [ngClass]="{'border-danger': form_errors?.card_cvv}" [(ngModel)]="checkout?.payment.card_cvv"
                  name="card_cvv" class="form-control" placeholder="CVV">
                <app-form-errors [field_error]="form_errors?.card_cvv"></app-form-errors>
              </div>

              <div class="col-md-7 mb-20">
                <input required type="text" pattern="\d{3}.\d{3}.\d{3}-\d\d" [textMask]="{mask: cpfMask}" [ngClass]="{'border-danger': form_errors?.holder_cpf}"
                  [(ngModel)]="checkout?.payment.holder_cpf" name="holder_cpf" class="form-control" placeholder="CPF">
                <app-form-errors [field_error]="form_errors?.holder_cpf"></app-form-errors>
              </div>

              <div class="col-md-5 mb-20">
                <input required pattern="\d{2}\/\d{2}\/\d{4}" [textMask]="{mask: dateMask}" type="text" [ngClass]="{'border-danger': form_errors?.holder_birth_date}"
                  [(ngModel)]="checkout?.payment.holder_birth_date" name="holder_birth_date" id="holder_birth_date" class="form-control"
                  placeholder="Data de nascimento">
                <app-form-errors [field_error]="form_errors?.birth_date"></app-form-errors>
              </div>
            </div>

            <h3 class="text-white mb-30">Dados pessoais</h3>
            <div class="row">
              <div class="col-md-12 mb-20">
                <label *ngIf="checkout.method == method.Credito" class="checkbox-inline">
                  <input type="checkbox" name="user_is_holder" [(ngModel)]="user_is_card_holder"> Mesmos dados do Cartão
                </label>
                <input required type="text" *ngIf="checkout?.method != method.Credito || !user_is_card_holder" [ngClass]="{'border-danger': form_errors?.name}" [(ngModel)]="checkout.sender.name"
                  name="name" class="form-control" placeholder="Nome">
                <app-form-errors [field_error]="form_errors?.name"></app-form-errors>
              </div>
              <div *ngIf="checkout?.method != method.Credito || !user_is_card_holder" class="col-md-6 mb-20">
                <input required pattern="\d{2}\/\d{2}\/\d{4}" [textMask]="{mask: dateMask}" type="text" [ngClass]="{'border-danger': form_errors?.birth_date}"
                  [(ngModel)]="checkout.sender.birth_date" name="birth_date" id="birth_date" class="form-control" placeholder="Data de nascimento">
                <app-form-errors [field_error]="form_errors?.birth_date"></app-form-errors>
              </div>
              <div *ngIf="checkout?.method != method.Credito || !user_is_card_holder" class="col-md-6 mb-20">
                <input required type="text" pattern="\d{3}.\d{3}.\d{3}-\d\d" [textMask]="{mask: cpfMask}" [ngClass]="{'border-danger': form_errors?.cpf}"
                  [(ngModel)]="checkout.sender.cpf" name="cpf" class="form-control" placeholder="CPF">
                <app-form-errors [field_error]="form_errors?.cpf"></app-form-errors>
              </div>
              <div class="col-md-4 mb-20 text-right">
                <input required type="text" pattern="\d{5}-\d{3}" [textMask]="{mask: cepMask}" [ngClass]="{'border-danger': form_errors?.postal_code}"
                  [(ngModel)]="checkout?.payment.postal_code" (blur)="fetchAddress()" name="postal_code" class="form-control" placeholder="CEP">
                <app-form-errors [field_error]="form_errors?.postal_code"></app-form-errors>
                <small class="mr-2">
                  <a href="http://www.buscacep.correios.com.br/sistemas/buscacep/" target="_blank" class="text-white">Não sei meu CEP</a>
                </small>
              </div>
              <div class="col-md-3 mb-20">
                <select required [ngClass]="{'border-danger': form_errors?.state}" [(ngModel)]="checkout?.payment.state" name="state" (ngModelChange)="getCities()">
                  <option value=""></option>
                  <option *ngFor="let state of regions" [ngValue]="state.id">{{ state.name }}</option>
                </select>
                <app-form-errors [field_error]="form_errors?.state"></app-form-errors>
              </div>
              <div class="col-md-5 mb-20">
                <select required [ngClass]="{'border-danger': form_errors?.city}" [(ngModel)]="checkout?.payment.city" name="city">
                  <option value=""></option>
                  <option *ngFor="let city of cities" [ngValue]="city.id">{{ city.name }}</option>
                </select>
                <app-form-errors [field_error]="form_errors?.city"></app-form-errors>
              </div>
              <div class="col-md-6 mb-20">
                <input required type="text" [ngClass]="{'border-danger': form_errors?.district}" [(ngModel)]="checkout?.payment.district"
                  name="district" class="form-control" placeholder="Bairro">
                <app-form-errors [field_error]="form_errors?.district"></app-form-errors>
              </div>
              <div class="col-md-6 mb-20">
                <input required type="text" [ngClass]="{'border-danger': form_errors?.street}" [(ngModel)]="checkout?.payment.street" name="street"
                  class="form-control" placeholder="Rua">
                <app-form-errors [field_error]="form_errors?.street"></app-form-errors>
              </div>
              <div class="col-md-4 mb-20">
                <input required type="text" [ngClass]="{'border-danger': form_errors?.number}" [(ngModel)]="checkout?.payment.number" name="number"
                  class="form-control" placeholder="Número">
                <app-form-errors [field_error]="form_errors?.number"></app-form-errors>
              </div>
              <div class="col-md-8 mb-20">
                <input required type="text" [ngClass]="{'border-danger': form_errors?.complement}" [(ngModel)]="checkout?.payment.complement"
                  name="complement" class="form-control" placeholder="Complemento">
                <app-form-errors [field_error]="form_errors?.complement"></app-form-errors>
              </div>

              <div *ngIf="form_errors?.transaction" class="row justify-content-center col-md-12 mt-30 mb-10">
                <h4>Erros na transação</h4>
                <app-form-errors [field_error]="form_errors?.transaction"></app-form-errors>
              </div>
              <div class="row justify-content-center w-100p mt-20 mb-10">
                <div class="errors center mb-10" *ngIf="!objectEmpty(form_errors)">
                  <p class="error">*Todos os campos são obrigatórios e campos não preenchidos serão marcados</p>
                  <!-- <div class="error">Há erros no cadastro, corrija para prosseguir com a doação</div> -->
                </div>
                <button type="submit" (click)="sendPayment()" class="btn btn-success btn-large">Concluir Doação</button>
              </div>

            </div>
          </ng-container>

        </form>
        <ng-container *ngIf="step == 0">
          <p>
            Não foi possível fazer sua doação no momento, tente mais tarde
          </p>
          <p>
            Nós utilizamos a plataforma de pagamentos PagSeguro, que está não disponível no momento, se o problema persistir, entre em
            contato conosco
          </p>
        </ng-container>
        <ng-container *ngIf="step == 4">
          <h3 class="text-white mb-30">A Doação foi enviada com sucesso!</h3>
          <p class="text-white mb-10">{{ checkout.sender.name }}, agradecemos a sua Doação!</p>
          <h4 class="text-white mb-10">Extrato da doação</h4>
          <table class="text-white table">
              <tbody>
                <tr>
                  <th scope="row">Doador</th>
                  <td>{{ checkout.sender.name }}</td>
                </tr>
                <tr>
                    <th scope="row">CPF do doador</th>
                    <td>{{ checkout.sender.cpf }}</td>
                  </tr>
                <tr>
                  <th scope="row">Valor da doação</th>
                  <td>R$ {{ amount }}</td>
                </tr>
                <tr>
                  <th scope="row">Localização</th>
                  <td>{{ city }} / {{ state }}</td>
                </tr>
                <tr>
                    <th scope="row">Código da Transação</th>
                    <td>{{ checkout.status.result?.code }}</td>
                </tr>
                <tr>
                    <th scope="row">Data e Horário</th>
                    <td>{{ checkout.status.result?.date | date:'short' }}</td>
                </tr>
              </tbody>
            </table>
        </ng-container>
      </div>
      </div>
  </div>
</div>


<home-footer></home-footer>