.available-cc{
    color: white;
    margin-left: 5px;
    cursor: pointer;

    .ccs{
        opacity: 0;
        transform: translateY(15px);
        pointer-events: none;
        transition: all .5s;
        width: 320px;
        position: absolute;
        right: 22px;
        top: -7px;
        overflow: hidden;
        padding: 0px 3px;
        background: white;
        border-radius: 12px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);

        img { width: 100%; }
    }

    &:hover .ccs{
        opacity: 1;
        transform: translateY(0px);
    }
}