<div class="row justify-content-center">
  <div class="col-md-8">
    <form #resetConfirmForm="ngForm" (ngSubmit)="resetConfirm()">
      <app-form-errors [field_error]="formErrors?.non_field_errors"></app-form-errors>
      <div class="row">
        <div class="col-md-12" *ngIf="!message">
          <input type="password" placeholder="Nova Senha" id="new_password1" name="new_password1" [(ngModel)]="confirmData.new_password1" required>
          <app-form-errors [field_error]="formErrors?.new_password1"></app-form-errors>
        </div>
        <div class="col-md-12" *ngIf="!message">
          <input type="password" placeholder="Confirmação de Senha" id="new_password2" name="new_password2" [(ngModel)]="confirmData.new_password2" required>
          <app-form-errors [field_error]="formErrors?.new_password2"></app-form-errors>

          <div class="small-links">
              <span>Não tem uma conta? <a [href]="signupPath">Cadastre-se</a></span>
              <!--
              <span><a href="/sobre/termos-de-uso">Termos de uso</a></span>
            </div>
            <div class="small-links">
              <span></span>
              <span><a href="/sobre/politica-de-privacidade">Política de privacidade</a></span>
            -->
            </div>
        </div>
        <div *ngIf="message" class="col-md-12">
          <h3 class="text-center mt-20" [innerHTML]="message" translate></h3>
        </div>

        <div class="col-md-8 m-0auto text-center mt-20" *ngIf="!message">
          <button [disabled]="!resetConfirmForm.form.valid" type="submit" class="btn btn-large orange" translate>Recuperar Senha</button>
        </div>
      </div>
    </form>
  </div>
</div>