<div>
  <div class="row justify-content-center">
    <div class="col-md-10">
      <div class="panel mt-60 mb-20">
        <ng-container>
          <h3 class="mb-30">O seu processo de inscrição foi realizado com sucesso!</h3>
          <p class="mb-10">{{ checkout?.sender.name }}, agradecemos a sua Inscrição!
            <span *ngIf="isBoleto && !isBoletoPaid">
              Falta pouco, parar finalização, acesse o link abaixo para pagamento do boleto
            </span>
          </p>
          <h4 class="mb-10">Extrato da Transação</h4>
          <table class="table">
            <tbody>
              <tr>
                <th scope="row">Nome</th>
                <td>{{ checkout?.sender.name }}</td>
              </tr>
              <tr>
                <th scope="row">CPF do inscrito</th>
                <td>{{ checkout?.sender.cpf }}</td>
              </tr>
              <tr>
                <th scope="row">Valor da transação</th>
                <td>R$ {{ amount }}</td>
              </tr>
              <tr>
                <th scope="row">Localização</th>
                <td>{{ city }} / {{ state }}</td>
              </tr>
              <tr>
                <th scope="row">Código da Transação</th>
                <td>{{ checkout?.transaction }}</td>
              </tr>
              <tr>
                <th scope="row">Data e Horário</th>
                <td>{{ checkout?.created_at | date:'short' }}</td>
              </tr>
              <tr>
                <th scope="row">Forma de Pagamento</th>
                <td>
                  {{ payment_method }}
                </td>
              </tr>
              <tr *ngIf="isBoleto && !isBoletoPaid">
                <th scope="row">Pagamento</th>
                <td>
                  <a target="_blank" href="{{ checkout?.extra_info?.payment_link }}">
                    Link para baixar e pagar o Boleto
                  </a>
                </td>
              </tr>
              <tr>
                  <th scope="row">Forma de Pagamento</th>
                  <td>
                    {{ status }}
                  </td>
                </tr>
            </tbody>
          </table>
        </ng-container>
      </div>
    </div>
  </div>
</div>