<menu></menu>
<page-header color="orange" [title]="page?.title" [category]="page?.category"></page-header>

<div class="container mt-60 mb-120">
  <div class="row">
    <div class="col-md-12" [innerHTML]="page?.content"></div>
  </div>
</div>

<home-footer></home-footer>