<div class="page-header" [ngClass]="{ 'video' : hasVideo, 'image' : bgImage != '/assets/images/page-header-pattern.png', 'purple' : color == 'purple' }" [ngStyle]="{ 'background-image' : 'url('+ bgImage+')' }">


  <a href="javascript:void(0);" *ngIf="hasVideo" (click)="playVideo()">
    <div class="play"></div>
    <h5 (click)="playing = true" class="fw-bold text-white">Assista ao Vídeo</h5>
  </a>

  <div *ngIf="category != ''">{{ category }}</div>
  <div class="page-header--title">{{ title }}</div>
</div>
