$pink : #C81967;
$orange : #F5A623;
$yellow : #F6E324;

.page-header{
    width: 100%;
    padding-top: 180px;
    padding-bottom: 20px;
    position: relative;
    clip-path: polygon(0% 0%, 100% 0, 100% 80%, 50% 100%, 0 80%);
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    transition: all .6s;

    @media screen and (max-width: 768px){
        padding-top: 80px;
        padding-bottom: 5px;
    }

    &.purple{
        background-image: none !important;
        background: linear-gradient(147.79deg, #3023AE 0%, #FC4197 100%) !important;

        .page-header--title{
            color: $yellow;
        }
    }

    &.image{
        height: 350px;
        background: #a2a2a2;
        background-repeat: no-repeat;
        background-size: cover;
        background-blend-mode: multiply;

        .page-header--title{ text-shadow: 0 0 12px rgba(0, 0, 0, 0.47); }
    }

    &.image:before{
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background: linear-gradient(transparent 60%, black );
        z-index: -1;
    }

    &.video{
        height: 390px;
        padding: 0px !important;
    }

    &.video.active {
        height: calc(100vw / 1.7);
        clip-path: polygon(0% 0%, 100% 0, 100% 100%, 50% 100%, 0 100%);

        .return{
            color: white;
            display: inline;
            text-transform: uppercase;
            font-size: 20px;
            background: $pink;
            border-radius: 10px;
            padding: 3px 20px;
            position: absolute;
            top: 160px;
            left: 30px;
        }

        .play{
            opacity: 0;
        }

        video{
            opacity: 1;
        }

        .page-header--title{
            display: none;
        }
    }

    .return{ display: none; }

    .play{
        width: 80px;
        height: 80px;
        background-image: url('/assets/images/play_ocupa.png');
        background-size: cover;
        transition: all .6s;
        margin: 0 auto;
    }

    &--title{
        color: $pink;
        font-size: 55px;
        font-weight: 900;
        margin-bottom: 40px;
        text-align: center;

        @media screen and (max-width: 640px){
            margin-bottom: 50px;
            line-height: 1;
            font-size: 43px;
        }
    }

    &--logo{
        border-radius: 50%;
        position: absolute;
        margin-left: 50%;
        top: 0;
        transform: translate(-50%, 45%);
        background-color: white;
        box-shadow: 0 0 5px darkgray;
        width: 370px;
        height: 370px;

        img {
            max-width: 85%;
            max-height: 100%;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translateX(-50%) translateY(-50%);
        }
    }
}

video{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0;
    transition: all .6s;
    z-index: -1;
}