.cards {
    margin-top: -280px;
    padding-bottom: 100px;

    &--card {
        border-radius: 17px;
        padding-bottom: 50px;
        height: calc(100% - 35px);
        overflow: hidden;

        a {
            color: white !important;
            text-decoration: none !important;
        }

        &-category {
            padding: 10px 25px;
            text-align: center;
            border-top-left-radius: 17px;
            border-top-right-radius: 17px;
            position: relative;
            white-space: nowrap;

            &:after {
                content: '';
                position: absolute;
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
                background: linear-gradient(95deg, transparent, rgba(255, 255, 255, 0.55));
                border-top-right-radius: 17px;
            }


            span {
                border-radius: 17px;
                padding: 0px 20px;
                text-transform: uppercase;
                font-size: 22px;
                font-weight: 500;
                color: white;

                @media screen and (max-width: 640px){
                    font-size: 18px;
                }
            }
        }

        &-title {
            padding: 20px 30px;
            border-bottom-right-radius: 17px;
            border-bottom-left-radius: 17px;
            color: #FFFFFF;
            font-size: 18px;
            font-weight: 500;
            text-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
            background-color: rgba(0, 0, 0, 0.7);
            height: 100%;
        }

        &-image {
            height: 227px;
            display: flex;
            background-size: contain;
            background-repeat: no-repeat;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            color: #FFFFFF;
            font-size: 25px;
            font-weight: bold;
            position: relative;

            * {
                position: relative;
                z-index: 2;
            }

            &:before {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background: linear-gradient(transparent, black);
            }
        }
    }
}
