<div class="cards--card">
  <div class="cards--card-category" [ngStyle]="{ 'background-color' : conversation.background_color }"><span>{{ conversation.title }}</span></div>
  <div class="cards--card-image" [ngStyle]="{ 'background-image' : bgImage }">
    <div class="icon-play" *ngIf="conversation.polis_url"><a href="javascript:void(0);" (click)="playVideo()"><img src="/assets/images/play_ocupa.png" alt="" width="60"></a></div>
    <span class="text-white" *ngIf="conversation.polis_url"><a href="javascript:void(0);" (click)="playVideo()">Assista ao Vídeo</a></span>
  </div>
  <div class="cards--card-title"><a routerLink="/conversas/{{ conversation.slug }}">{{ conversation.description }}</a></div>
</div>
