<div class="row justify-content-center">
  <p *ngIf="!error">
    Conectando sua conta no Twitter
  </p>
  <div *ngIf="error">
    <p>
      Não foi possível finalizar a conexão da sua conta no Twitter, favor tentar mais tarde, feche essa janela para voltar para
      o Ocupa!
    </p>
    <label *ngIf="error?.access_token">Token de Acesso:</label>
    <app-form-errors [field_error]="error?.access_token"></app-form-errors>
    <label *ngIf="error?.token_secret">Chave de Acesso:</label>
    <app-form-errors [field_error]="error?.token_secret"></app-form-errors>
    <label *ngIf="error?.non_field_errors">Twitter:</label>
    <app-form-errors [field_error]="error?.non_field_errors"></app-form-errors>
    <label *ngIf="error?.message">Twitter:</label>
    <div class="errors" *ngIf="error.message">
        <div class="error" [innerHTML]="error.message"></div>
    </div>
  </div>
</div>