<div class="container mt-60">
  <div class="row">
    <div class="col-md-12">
      <h4 class="divider">Minhas Doações - Recibos </h4>
    </div>
  </div>
</div>

<div class="panel-gray">
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <div class="receipt">
          <p class="receipt-value">R$ 1000,00</p>
          <p class="receipt-date">15 de agosto</p>
        </div>
      </div>
      <div class="col-md-12 text-center">
        <a class="btn btn-large btn-danger">Ver Mais</a>
      </div>
    </div>
  </div>
</div>