$pink: #FF4081;
$yellow: #F6E324;
h2 {
    font-size: 47px;
    text-transform: uppercase;
    @media screen and (max-width: 900px) {
        font-size: 30px;
    }
}

h4 {
    font-size: 35px;
    text-transform: uppercase;
    @media screen and (max-width: 900px) {
        font-size: 23px;
    }
}

.btn {
    background: linear-gradient(90deg, #FCEA0D 0%, #F29100 100%);
    color: $pink;
    font-size: 28px;
    font-weight: bold;
    text-align: center;
    padding: 3px 18px;
    border-radius: 35px;
    min-width: 180px;
}

.manu-featured {
    background-image: url('/assets/images/home-topo-bg_2.jpg');
    transform: translateY(-20px);
    background-size: cover;
    background-position: center;
    width: 100vw;
    height: calc(100vw / 1.7);
    display: flex;
    align-items: center;
    padding-left: 130px;

    @media screen and (max-width: 900px) {
        height: 100vh;
        padding-left: 20px;
    }

    &--text {
        text-transform: uppercase;
        color: #F6E324;
        max-width: 590px;
        font-size: 40px;
        font-family: "Capture it";
        line-height: initial;
        text-shadow: 0 2px 4px rgba(0, 0, 0, 0.8);
        margin-bottom: 110px;
        letter-spacing: 1px;

        @media screen and (max-width: 900px) {
            font-size: 30px;
            text-align: right;
            margin-bottom: 230px;
            line-height: initial;
        }

        @media screen and (min-width: 1400px) {
            font-size: 50px;
            max-width: 650px;
        }
    }
}

.manu-cards {
    margin-top: -300px;
    padding-bottom: 100px;
    background-image: url('/assets/images/f_416374_bw.png');
    background-size: cover;
    background-position: center;

    &--card {
        border-radius: 17px;
        padding-bottom: 50px;

        a {
            color: white !important;
            text-decoration: none !important;
        }

        &-category {
            padding: 10px 25px;
            text-align: center;
            border-top-left-radius: 17px;
            border-top-right-radius: 17px;
            position: relative;
            white-space: nowrap;

            &:after {
                content: '';
                position: absolute;
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
                background: linear-gradient(95deg, transparent, rgba(255, 255, 255, 0.55));
                border-top-right-radius: 17px;
            }


            span {
                border: 2px solid white;
                border-radius: 17px;
                padding: 0px 20px;
                text-transform: uppercase;
                font-size: 22px;
                font-weight: 500;
                color: white;

                @media screen and (max-width: 640px){
                    font-size: 18px;
                }
            }
        }

        &-title {
            padding: 20px 30px;
            border-bottom-right-radius: 17px;
            border-bottom-left-radius: 17px;
            color: #FFFFFF;
            font-size: 23px;
            font-weight: 500;
            text-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
            background-color: rgba(0, 0, 0, 0.7);
            line-height: 30px;
        }

        &-image {
            height: 227px;
            background-size: cover;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            color: #FFFFFF;
            font-size: 25px;
            font-weight: bold;
            position: relative;

            * {
                position: relative;
                z-index: 2;
            }

            &:before {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background: linear-gradient(transparent, black);
            }
        }
    }
}

.manu-social {
    background-image: url('/assets/images/photo5159296397823027171.jpg');
    background: linear-gradient(180deg, #E62173 0%, #E5005B 100%);
    padding: 75px 0px;
    position: relative;
    &:before {
        background-image: url(/assets/images/photo5159296397823027171.jpg);
        background-size: cover;
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        opacity: 0.1;
    }

    a:hover{ color: $yellow; }

    &--title {
        display: flex;
        align-items: center;

        @media screen and (max-width: 900px){
            justify-content: center;

            & + .text-yellow{
                text-align: center;
            }
        }
    }
    p {
        word-break: break-all;
    }
}

.manu-contribua {
    background-image: url('/assets/images/Capaevento.jpg');
    background-size: cover;
    width: 100vw;
    height: calc(100vw / 1.7);
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    @media screen and (max-width: 900px) {
        padding-top: 20px;
        background-size: contain;
    }

    &--title {
        color: #4A4A4A;
        color: #4A4A4A;
        font-size: 43px;
        font-weight: 900;
        line-height: 52px;
        max-width: 690px;
        @media screen and (max-width: 900px) {
            font-size: 30px;
            line-height: initial;
        }
    }
    &--bottom {
        padding: 30px 0px;
        background: linear-gradient(180deg, #E62173 0%, #E5005B 100%);
    }
}

.home-form {
    border-top: 20px solid #e64a71;

    .container {
        padding: 60px 0px;
        position: relative;
        @media screen and (max-width: 900px) {
            .row {
                margin: 0px;
            }
        }
    }
    &--figure {
        position: absolute;
        width: 285px;
        right: -50px;
        top: -60px;
        @media screen and (max-width: 900px) {
            display: none;
        }
    }
}
