<menu></menu>
<div class="manu-featured">
    <div class="manu-featured--text">
        CONSTRUA COM A #MANU UM NOVO PROJETO PARA O BRASIL
    </div>
</div>

<div class="manu-cards">
    <div class="container">
        <app-conversations [conversations]="conversations" (onPlayVideo)="controlVideo('play', $event)"></app-conversations>
    </div>
</div>

<div class="manu-contribua--bottom text-center">
    <div class="container">
        <div class="row mt-60 mb-60">
            <div class="col-md-12">
                <h4 class="text-white tt-initial mb-20">Conheça a campanha dos 100 dias de mobilização da pré-campanha</h4>
                <a class="btn" href="https://campanha100dias.pcdobdigital.org.br/">Participe</a>
            </div>
        </div>
    </div>
</div>

<a href="https://manupelobrasil.org.br/doacao" target="_blank">
    <div class="manu-contribua">
        <div class="container">
            <!-- <div class="row">
                <div class="col-md-12">
                    <div class="manu-contribua--title"></div>
                </div>
            </div> -->
        </div>
    </div>
</a>

<div class="manu-social">
    <div class="container">
        <div class="row">
            <div class="col-md-12 mb-60">
                <h2 class="text-yellow text-center">ACOMPANHE A #MANU PELAS REDES SOCIAIS</h2>
            </div>
            <div class="col-md-6">
                <a href="https://www.facebook.com/manueladavila" target="_blank">
                    <h4 class="text-yellow manu-social--title">
                        <span class="btn-outline-social medium"><i class="fab fa-facebook-f"></i> </span> Facebook
                    </h4>
                    <p class="text-yellow fw-bold">https://www.facebook.com/manueladavila</p>
                </a>
            </div>
            <div class="col-md-6">
                <a href="https://twitter.com/ManuelaDavila" target="_blank">
                    <h4 class="text-yellow manu-social--title">
                        <span class="btn-outline-social medium"><i class="fab fa-twitter"></i> </span> Twitter
                    </h4>
                    <p class="text-yellow fw-bold">https://twitter.com/ManuelaDavila</p>
                </a>
            </div>
        </div>

    </div>
</div>

<div class="modal-video--bg" [ngClass]="{ 'active' : videoModalActive }"></div>
<div *ngIf="videoModalActive" class="modal-video" [ngClass]="{ 'active' : videoModalActive }">
    <div class="close" (click)="controlVideo('pause'); videoModalActive = false">&times;</div>
    <youtube-player [videoId]="videoModalConversation.polis_url" (ready)="savePlayer($event)" (change)="onStateChange($event)"></youtube-player>
    <a routerLink="/conversas/{{ videoModalConversation.slug }}" class="btn btn-large">Contribuir com a discussão sobre {{ videoModalConversation.title }}</a>
</div>
<home-footer></home-footer>
