<div class="row justify-content-center">
  <div class="col-md-12">
      <h2 class="text-primary text-center mb-20">
        <p>Filiação</p>
      </h2>
  </div>
</div>
<div class="row justify-content-center">
  <div class="col-md-8">
    <form #signInForm="ngForm" (ngSubmit)="login()" class="login_form">
      <app-form-errors [field_error]="formErrors?.non_field_errors"></app-form-errors>
      <div class="row">
        <div class="col-md-12 mb-10">
          <p class="text-center mt-30"><strong>Entre com seu cadastro no Ocupa</strong></p>
        </div>
        <div class="col-md-12">
            <input type="email" class="form-control" id="email" [(ngModel)]="user.email" name="email" placeholder="{{'login.email' | translate }}" required>
        </div>
        <app-form-errors [field_error]="formErrors?.email"></app-form-errors>
        <div class="col-md-12">
            <input type="password" class="form-control"
            id="password" name="password" placeholder="{{'login.password' | translate }}"
            [(ngModel)]="user.password" required>
            <app-form-errors [field_error]="formErrors?.password"></app-form-errors>
        </div>
        <div class="col-md-8 m-0auto text-center mt-20">
          <button [disabled]="!signInForm.form.valid" type="submit" class="btn btn-large orange" translate>{{'login.button.sign_in'}}</button>
        </div>
      </div>
    </form>
  </div>
</div>