<header class="home-header">
  <div class="logo">
    <a href="/"><img src="/assets/images/ocupa_logo.svg" alt=""></a>
  </div>
  <nav class="menu" [ngClass]="{ 'active' : menuActive == true }">
    <div class="close" (click)="menuActive = false">&times;</div>
    <ul>
      <li><a href="#participe">Participe</a></li>
      <li><a href="#contribua">Contribua</a></li>
    </ul>

    <div class="menu-login" *ngIf="!profile">
      <a routerLink="/entrar" class="btn-small">Login</a>
      <a href="/registrar" class="btn-small active">Cadastre-se</a>
    </div>

    <div class="menu-login logged-in" *ngIf="profile">
        <ul>
          <li><a> <i class="fas fa-bell"></i> </a></li>
          <li>
            <a class="user">
              <span><a routerLink="/perfil">{{ profile?.name || profile?.email }}</a></span>
              <i class="fas fa-caret-down"></i>
            </a>
            <ul>
              <li><a routerLink="/perfil">Meu Perfil</a></li>
              <li><a href="" (click)="logout()">Sair</a></li>
            </ul>
          </li>
        </ul>
      </div>
  </nav>
  <i class="fa fa-bars show-for-mobile" (click)="menuActive = true"></i>
</header>
