$pink: #FF4081;
$yellow: #F6E324;

.home-header {
  background-image: url('/assets/images/menu_header_bg_2.png');
  background-size: cover;
  background-position: center;
  display: flex;
  margin-top: -16px;
  height: 215px;
  justify-content: space-between;
  position: absolute;
  width: 100vw;
  z-index: 10000000;

  @media screen and (max-width: 900px) {
    background-size: 140% 100px;
    background-repeat: no-repeat;
    background-position: top center;
  }

  .logo {
    padding: 75px 50px;

    @media screen and (min-width: 901px) and (max-width: 1400px) {
      padding: 75px 25px;

      img { width: 200px; }
    }

    @media screen and (max-width: 900px) {
      padding: 35px 10px;
      margin: 0;

      img {
        width: 120px;
      }
    }

    @media screen and (max-width: 500px) {
      padding: 35px 4px;
      img { width: 100px; }
    }

  }

  .menu {
    padding: 50px 0 100px;
    display: flex;

    &-login {
      min-width: 200px;
    }

    .close {
      display: none;
    }

    @media screen and (max-width: 900px) {
      opacity: 0;
      pointer-events: none;
      transition: all .6s;
      position: fixed;
      width: 100vw;
      top: 0;
      left: 0;
      height: 100vh;
      flex-direction: column;
      padding: 20px;
      background: linear-gradient(90deg, #E84286 0.05%, #E50060 45%, #E40050 75%, #E30134 100%);
      text-align: center;
      clip-path: polygon(0 0, 100% 0, 100% 84%, 0 76%);

      &.active {
        opacity: 1;
        pointer-events: all;
      }

      .close {
        display: block;
        position: absolute;
        font-size: 30px;
        top: 14px;
        right: 20px;
        color: $yellow;
        opacity: 1;
      }
    }

    ul {
      list-style-type: none;
      display: flex;
      margin-right: 10px;

      @media screen and (max-width: 900px) {
        flex-direction: column;
        margin: 20px 0 15px;
        height: 50%;
        padding: 0;
        justify-content: space-around;
      }

      li {
        margin-left: 15px;

        a {
          color: $yellow;
          font-family: "Capture it";
          font-size: 30px;
          letter-spacing: 2px;
        }

      }
    }
  }

  .fa.fa-bars {
    color: yellow;
    margin: 20px;
    margin-top: 30px;
    font-size: 20px;
  }
}

.btn-small {
  color: $yellow;
  font-family: Roboto;
  font-size: 12px;
  font-weight: bold;
  text-align: center;
  border: 2px solid $yellow;
  border-radius: 27.15px;
  padding: 7px 12px;

  &.active,
  &:hover {
    background: linear-gradient(90deg, #FCEA0D 0%, #F29100 100%);
    color: $pink;
    border: none;
    padding: 8.5px 12px;
  }

  &:not(.active):hover{
    padding: 8.5px 14px;
  }
}

.menu-login:not(.logged-in){
    margin: 9px 30px;
}

.menu-login.logged-in{
    flex: 1;
    margin-right: 40px;
    margin-top: 7px;

    a{
      color: $yellow;
      font-size: 20px !important;
    }

    > ul {

        list-style-type: none;
        padding: 0;
        margin: 0px;
        display: flex;
        justify-content: flex-end;
    }

    >ul > li{
        padding: 0 15px;
        position: relative;

        > ul {
            position: absolute;
            flex-direction: column;
            list-style-type: none;
            background-color: white;
            right: 0;
            width: 170px;
            border-radius: 17px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.22);
            transition: all .6s;
            padding: 0 10px;
            max-height: 0px;
            overflow: hidden;
            margin: 0;

            a{
                text-transform: uppercase;
                font-size: 14px !important;
                font-family: Roboto;
                font-weight: bold;
                color: $pink;
            }
        }

        &:hover > ul{
            padding: 10px;
            max-height: 300px;
        }
    }
}
