<form #affiliationForm="ngForm" (ngSubmit)="verifyRobot()" class="container form-with-validation">
  <div class="row justify-content-center">
    <div class="col-md-12">
      <h2 class="text-primary text-center mb-45">
        <p></p>
        <app-form-errors [field_error]="form_errors?.non_field_errors"></app-form-errors>
      </h2>
    </div>
    <div class="col-md-12 collapsable">
      <div class="collapsable-body">
        <div class="row">
          <div class="col-md-12">
            <input type="text" name="name" placeholder="Nome" [(ngModel)]="profile.name" required>
            <app-form-errors [field_error]="form_errors?.name"></app-form-errors>
          </div>
          <div class="col-md-12">
            <h5 class="light mt-30">Data de nascimento</h5>
          </div>
          <div class="col-md-4">
            <input type="date" name="birth_date" placeholder="Data de Nascimento" [(ngModel)]="profile.birth_date">
            <app-form-errors [field_error]="form_errors?.birth_date"></app-form-errors>
          </div>
          <ng-container *ngIf="!profileExisted">
            <div class="col-md-12">
              <input type="email" name="email" placeholder="Email" [(ngModel)]="profile.email" (change)="updateUsername()" required>
              <app-form-errors [field_error]="form_errors?.username"></app-form-errors>
              <app-form-errors [field_error]="form_errors?.email"></app-form-errors>
            </div>
            <div class="col-md-6">
              <input type="password" name="password1" placeholder="Senha" [(ngModel)]="profile.password1" required>
              <app-form-errors [field_error]="form_errors?.password1"></app-form-errors>
            </div>
            <div class="col-md-6">
              <input type="password" name="password2" placeholder="Repetir senha" [(ngModel)]="profile.password2" required>
              <app-form-errors [field_error]="form_errors?.password2"></app-form-errors>
            </div>
          </ng-container>
          <div class="col-md-6">
            <select name="state" [(ngModel)]="profile.state" (change)="searchCitiesByState()" required>
              <option [ngValue]="undefined" disabled *ngIf="profile.state == null">Estado</option>
              <option *ngFor="let state of statesOptions" [value]="state.id">{{ state.name }}</option>
            </select>
            <app-form-errors [field_error]="form_errors?.state"></app-form-errors>
          </div>
          <div class="col-md-6">
            <select name="city" [(ngModel)]="profile.city" (change)="searchCity()" required>
              <option [ngValue]="undefined" disabled *ngIf="profile.city == null">Cidade</option>
              <option *ngFor="let city of citiesOptions" [value]="city.id">{{ city.name }}</option>
            </select>
            <app-form-errors [field_error]="form_errors?.city"></app-form-errors>
          </div>
          <div class="col-md-12">
            <input type="text" name="phone_number" placeholder="Telefone (com DDD)" [(ngModel)]="profile.phone_number" [textMask]="{mask: phoneMask}" required>
            <app-form-errors [field_error]="form_errors?.phone_number"></app-form-errors>
          </div>
          <div class="col-md-12">
            <h5 class="light mt-30">Escolaridade</h5>
          </div>
          <div class="col-md-4">
            <select name="studies" [(ngModel)]="profile.studies">
              <option [ngValue]="null" disabled *ngIf="profile.studies === null">Selecionar</option>
              <option [ngValue]="true">Atualmente sou estudante</option>
              <option [ngValue]="false">Não sou estudante</option>
            </select>
            <app-form-errors [field_error]="form_errors?.studies"></app-form-errors>
          </div>
          <div class="col-md-8" *ngIf="profile.studies">
            <input type="text" name="school" placeholder="Instituição de ensino" [(ngModel)]="profile.school">
            <app-form-errors [field_error]="form_errors?.school"></app-form-errors>
          </div>
          <div class="col-md-12">
            <h5 class="light mt-30">Trabalho</h5>
          </div>
          <div class="col-md-4">
            <select name="is_working" [(ngModel)]="profile.is_working">
              <option [ngValue]="null" disabled *ngIf="profile.is_working === null">Selecionar</option>
              <option [ngValue]="true">Atualmente trabalho</option>
              <option [ngValue]="false">Atualmente não trabalho</option>
            </select>
            <app-form-errors [field_error]="form_errors?.is_working"></app-form-errors>
          </div>
          <div class="col-md-8" *ngIf="profile.is_working">
            <input type="text" name="workplace" placeholder="Local de trabalho" [(ngModel)]="profile.workplace">
            <app-form-errors [field_error]="form_errors?.workplace"></app-form-errors>
          </div>
            <div class="col-md-12">
              <h5 class="light mt-30">Participa de algum coletivo ou movimento ??</h5>
            </div>
            <div class="col-md-4">
              <select name="has_vote" [(ngModel)]="profile.has_mandate">
                <option [ngValue]="null" disabled *ngIf="profile.has_mandate === null">Selecionar</option>
                <option [ngValue]="true">Sim</option>
                <option [ngValue]="false">Não</option>
              </select>
              <app-form-errors [field_error]="form_errors?.has_mandate"></app-form-errors>
            </div>
            <div class="col-md-8" *ngIf="profile.has_mandate">
              <input type="text" name="vote_city" placeholder="Qual?" [(ngModel)]="profile.mandate">
              <app-form-errors [field_error]="form_errors?.mandate"></app-form-errors>
            </div>
            <div class="col-md-12">
              <label class="custom-checkbox">
                <input type="checkbox" name="ujs_affiliate" id="ujs_affiliate" [(ngModel)]="profile.ujs_affiliate">
                <span><i class="fa fa-check"></i></span>
                Quero me filiar
              </label>
              <app-form-errors [field_error]="form_errors?.ujs_affiliate"></app-form-errors>
              <div class="col-md-12" *ngIf="profile.ujs_affiliate">
                  <label class="custom-checkbox">
                  <input type="checkbox" name="accepted_statute" id="accepted_statute" [(ngModel)]="profile.accepted_statute">
                  <span><i class="fa fa-check"></i></span>
                  Li e aceito o <a target="_blank" href="http://ujs.org.br/index.php/sobre-a-ujs/estatuto/">Estatuto da UJS</a> e o programa socialista
                </label>
                <app-form-errors [field_error]="form_errors?.accepted_statute"></app-form-errors>
              </div>
              <div class="col-md-12" *ngIf="profile.ujs_affiliate">
                <label class="custom-checkbox">
                  <input type="checkbox" name="accepted_terms" id="accepted_terms" [(ngModel)]="profile.accepted_terms">
                  <span><i class="fa fa-check"></i></span>
                  Li e aceito os <a target="_blank" href="http://ujs.org.br/index.php/termos-de-uso/">Termos de uso</a> e a
                  <a target="_blank" href="http://ujs.org.br/index.php/politica-de-privacidade/">Política de privacidade</a> da União da Juventude Socialista
                </label>
                <app-form-errors [field_error]="form_errors?.accepted_terms"></app-form-errors>
              </div>
            </div>
            <div class="col-md-12">
              <label class="custom-checkbox">
                <input type="checkbox" name="congress_subscription" id="congress_subscription" [(ngModel)]="profile.congress_subscription">
                <span><i class="fa fa-check"></i></span>
                Quero me inscrever no 20° Congresso Nacional da UJS - Contra-Atacar: organize sua revolta!
              </label>
              <app-form-errors [field_error]="form_errors?.congress_subscription"></app-form-errors>
            </div>
          <div class="col-md-12">
            <label class="custom-checkbox">
              <input type="checkbox" name="is_able_to_contribute" id="is_able_to_contribute" [(ngModel)]="profile.is_able_to_contribute">
              <span><i class="fa fa-check"></i></span>
              Posso contribuir financeiramente mensalmente com a UJS
            </label>
            <app-form-errors [field_error]="form_errors?.is_able_to_contribute"></app-form-errors>
          </div>
          <div class="col-md-12">
            <label class="custom-checkbox">
              <input type="checkbox" name="mailing_profile" id="mailing_profile" [(ngModel)]="profile.mailing_profile.active">
              <span><i class="fa fa-check"></i></span>
              Aceito receber novidades no meu email
            </label>
            <app-form-errors [field_error]="form_errors?.mailing_profile"></app-form-errors>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 text-center recaptcha-container">
          <ngx-invisible-recaptcha #recaptcha type="image" badge="inline" lang="pt_BR" class="recaptcha-badge text-center pull-right" (success)="markAsHuman($event)"></ngx-invisible-recaptcha>
          <app-form-errors [field_error]="form_errors?.captcha"></app-form-errors>
        </div>
      </div>
    </div>
    <div class="col-md-8 m-0auto text-center mt-20">
      <app-form-errors [field_error]="form_errors?.submit_button"></app-form-errors>
      <button type="submit" class="btn btn-large mb-60">Salvar</button>
    </div>
  </div>
</form>
