.custom-checkbox {
    padding-left: 10px;
    text-align: left;
    width: 100%;

    input {
        display: none;
    }

    span {
        background-color: lightgray;
        border-radius: 4px;
        color: transparent;
        display: inline-block;
        font-size: 14px;
        height: 18px;
        margin-right: 5px;
        padding-left: 2px;
        width: 18px;
    }

    input:checked + span {
        background-color: #C81967;
        color: white;
    }
}