<div class="row justify-content-center">
  <div *ngIf="!register_success && socialLogin" class="col-md-8 m-0auto text-center mt-30">
    <p class="text-center mt-20 mb-20"><strong>Cadastre-se com suas redes sociais</strong></p>
    <ul class="login-social">
      <li> <a class="btn btn-block btn-blue" (click)="signUpWithFacebook()"><i class="fab fa-facebook-f"></i></a> </li>
      <li> <a class="btn btn-block btn-lightblue" (click)="signUpWithTwitter()"><i class="fab fa-twitter"></i></a> </li>
    </ul>
    <app-form-errors [field_error]="socialErrors"></app-form-errors>
  </div>
  <div *ngIf="!register_success" class="col-md-8 text-center">
    <div class="col-md-12">
      <p class="text-center mt-30"><strong *ngIf="socialLogin">Ou preencha os dados a seguir</strong></p>
      <p class="text-center mt-30"><strong *ngIf="!socialLogin">Preencha os dados a seguir</strong></p>
    </div>
    <form #signUpForm="ngForm" (ngSubmit)="verifyRobot()">
      <div class="row">
        <div class="col-md-12">
          <input type="email" placeholder="E-mail" id="email" name="email"
          [(ngModel)]="form.email" lowercase required>
          <app-form-errors [field_error]="formErrors?.email"></app-form-errors>
        </div>
        <div class="col-md-12">
          <input type="password" placeholder="Senha" id="password1" name="password1"
          [(ngModel)]="form.password1"  required>
          <app-form-errors [field_error]="formErrors?.password1"></app-form-errors>
        </div>
        <div class="col-md-12">
          <input type="password" placeholder="Confirmar senha" id="password2" name="password2"
          [(ngModel)]="form.password2" required>
          <app-form-errors [field_error]="formErrors?.password2"></app-form-errors>
        </div>
        <div class="col-md-6">
          <select name="state" [(ngModel)]="form.state" (ngModelChange)="getCitiesByState()" required>
            <option [ngValue]="null" disabled *ngIf="form.state == null">Estado</option>
            <option *ngFor="let region of regions" [value]="region.id">{{ region.name }}</option>
          </select>
          <app-form-errors [field_error]="formErrors?.state"></app-form-errors>
        </div>
        <div class="col-md-6">
          <select name="city" [(ngModel)]="form.city" *ngIf="cities" required>
            <option [ngValue]="null" disabled *ngIf="form.city == null">Cidade</option>
            <option *ngFor="let city of cities" [value]="city.id">{{ city.name }}</option>
          </select>
          <app-form-errors [field_error]="formErrors?.city"></app-form-errors>
        </div>
        <div class="col-md-12">
          <input type="text" pattern="\((\d){2}\) (\d){5}-(\d){4}" [textMask]="{mask: phoneMask}" placeholder="Telefone (com DDD)" id="phone_number" name="phone_number"
           [(ngModel)]="form.phone_number">
          <app-form-errors [field_error]="formErrors?.phone_number"></app-form-errors>
        </div>
        <!-- <div class="col-md-12">
          <label class="custom-checkbox">
            <input type="checkbox" name="accepted_terms" id="accepted_terms" [(ngModel)]="form.accepted_terms">
            <span><i class="fa fa-check"></i></span>
            Li e aceito os <a routerLink="/sobre/termos-de-uso">termos de uso</a> e a <a href="/sobre/politica-de-privacidade">política de privacidade</a> da plataforma
          </label>
          <app-form-errors [field_error]="formErrors?.accepted_terms"></app-form-errors>
        </div> -->
        <!-- <div class="col-md-12 mb-20">
          <label class="custom-checkbox">
            <input type="checkbox" name="mailing" id="mailing" [(ngModel)]="form.mailing_profile.active">
            <span><i class="fa fa-check"></i></span>
            Aceito receber novidades no meu email
          </label>
        </div> -->
        <div class="col-md-12 text-center recaptcha-container">
          <app-form-errors [field_error]="formErrors?.captcha"></app-form-errors>
          <ngx-invisible-recaptcha #recaptcha type="image" badge="inline" lang="pt_BR" class="recaptcha-badge text-center pull-right" (success)="markAsHuman($event)"></ngx-invisible-recaptcha>
        </div>
        <div class="col-md-8 m-0auto text-center mt-20">
          <button [disabled]="!signUpForm.form.valid" type="submit" class="btn btn-large orange" translate>Cadastrar</button>
        </div>
      </div>
    </form>
  </div>
  <div *ngIf="register_success" class="col-md-8 mt-30 justify-content-center">
    <p>Seu cadastro foi realizado e um e-mail de verificação foi enviado para você.</p>
    <p>Siga as instruções nele para acessar a plataforma.</p>
    <p><a [attr.href]="loginPath">Clique aqui</a> para ir para página de login</p>
  </div>
</div>