.login-social{
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    margin: 0 auto;
    justify-content: center;

    li{
        margin-right: 20px;

        &:last-child{
            margin-right: 0px;
        }
    }

    li a{
        width: 90px;
        height: 90px;
        border-radius: 50%;
        font-size: 45px;
        color: white;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

.custom-checkbox {
    padding-left: 20px;
    text-align: left;
    width: 100%;

    input {
        display: none;
    }

    span {
        background-color: lightgray;
        border-radius: 4px;
        color: transparent;
        display: inline-block;
        font-size: 14px;
        height: 18px;
        margin-right: 5px;
        padding-left: 2px;
        width: 18px;
    }

    input:checked + span {
        background-color: #C81967;
        color: white;
    }
}