<form class="container">
  <div class="row justify-content-center">
    <div class="col-md-12 text-center">
        <h2 class="text-primary mb-45">Obrigado!</h2>
    </div>
    <div class="panel mt-60 mb-20"><p>A União da Juventude Socialista (UJS) tem 35 anos de luta e de amor pelo Brasil. Da aprovação do direito ao voto aos 16 anos, passando pelo Fora Collor às políticas de democratização do acesso ao ensino superior, a juventude sempre esteve presente nos principais momentos da nossa história.
      <p>Seja um parceiro da UJS. </p><a href="https://www.ujs.org.br/contribua-com-a-ujs-2/"><b>DOE AQUI!</b></a></div>
  </div>
</form>
