$orange : #F5A623;
$pink : #C81967;

.payments-list {
  list-style: none;
  padding-left: 0;

  li {
    padding-bottom: 10px;

    &:before {
      content: '\f4b9'; // donate
      color: $orange;
      font-family: 'Font Awesome 5 Free';
      font-weight: 900;
      margin-right: 5px;
    }

    &.registration {
      &:before {
        content: '\f3ff'; // ticket-alt
      }
    }
  }

  strong {
    color: $pink;
  }
}
