<div class="row justify-content-center">
  <div class="col-md-12">
    <h4 class="text-primary text-center mb-45">
      <p>{{ profile.name || profile.email }}</p>
      <p *ngIf="profile.city">{{ city }}</p>
      <a routerLink="/perfil/editar" class="btn btn-primary btn-small"><i class="fas fa-pencil-alt"></i> Editar</a>
    </h4>
    <h5 class="text-primary text-center mb-45">
      Complete seu Perfil!
    </h5>
  </div>
  <div class="col-md-4">
    <div class="custom-progress">
      <p class="custom-progress--title">Sobre Você</p>
      <div class="custom-progress--bar-wrapper">
        <div class="custom-progress--bar" [style.width]="personal_progress | percent:'1.0':'en-US'"></div>
      </div>
      <small class="custom-progress--caption">{{ personal_progress | percent:'1.0':'en-US' }} preenchido</small>
    </div>
  </div>
  <div class="col-md-4">
    <div class="custom-progress">
      <p class="custom-progress--title">Militância</p>
      <div class="custom-progress--bar-wrapper">
        <div class="custom-progress--bar" [style.width]="activism_progress | percent:'1.0':'en-US'"></div>
      </div>
      <small class="custom-progress--caption">{{ activism_progress | percent:'1.0':'en-US' }} preenchido</small>
    </div>
  </div>
  <div class="col-md-4">
    <div class="custom-progress">
      <p class="custom-progress--title">Frentes</p>
      <div class="custom-progress--bar-wrapper">
        <div class="custom-progress--bar" [style.width]="fronts_progress | percent:'1.0':'en-US'"></div>
      </div>
      <small class="custom-progress--caption">{{ fronts_progress | percent:'1.0':'en-US' }} preenchido</small>
    </div>
  </div>

  <div class="col-md-12 mt-60" [innerHTML]="profile.biography | paragraphs">
  </div>

  <div class="col-md-12 mt-40" *ngIf="profile.transactions.length > 0 || profile.subscriptions.length > 0">
    <h4 class="text-primary">Doações e assinaturas</h4>
    <ul class="payments-list">
      <li *ngFor="let transaction of profile.transactions" [ngClass]="{'registration': transaction.type === TransactionType.Registration}">
        <span *ngIf="transaction.type === TransactionType.Donation">Contribuição avulsa de <strong>{{ transaction.amount | currency:'BRL' }}</strong> para a campanha <strong>{{ transaction.campaign.name }}</strong> em {{ transaction.start_date | date:'shortDate' }}.</span>
        <span *ngIf="transaction.type === TransactionType.Registration">Inscrição no valor de <strong>{{ transaction.amount | currency:'BRL' }}</strong> para o evento <strong>{{ transaction.campaign.name }}</strong> em {{ transaction.start_date | date:'shortDate' }}.</span>
      </li>
      <li *ngFor="let subscription of profile.subscriptions">
        <span *ngIf="subscription.active">Contribuição <span *ngIf="subscription.period === PaymentType.Monthly">mensal</span> de <strong>{{ subscription.value | currency:'BRL'}}</strong> para a campanha <strong>{{ subscription.campaign.name }}</strong> desde {{ subscription.start_date | date:'shortDate' }}.
          <a class="btn btn-primary btn-small" routerLink="/campanha/{{subscription.campaign.slug}}/cancelar-inscricao"><i class="fas fa-times"></i> Cancelar inscrição</a>
        </span>
        <span *ngIf="!subscription.active">Contribuição <span *ngIf="subscription.period === PaymentType.Monthly">mensal</span> de <strong>{{ subscription.value | currency:'BRL' }}</strong> para a campanha <strong>{{ subscription.campaign.name }}</strong> de {{ subscription.start_date | date:'shortDate'}} a {{ subscription.end_date | date:'shortDate' }}.</span>
      </li>
    </ul>
  </div>
</div>