<div>
  <div class="row justify-content-center">
    <div class="col-md-10">
      <div class="panel mt-60 mb-20">
        <ng-container>
          <p>
            Não foi possível fazer sua doação no momento, tente mais tarde
          </p>
          <p>
            Nós utilizamos a plataforma de pagamentos PagSeguro, que está não disponível no momento, se o problema persistir, entre em
            contato conosco
          </p>
        </ng-container>
      </div>
  </div>
</div>
