<menu></menu>
<page-header  title="PRÉ-CANDIDATURAS DO OCUPA"></page-header>

<div class="container mb-120 mt-60">
    <div class="row">
        <div class="col-md-12 read-more--wrapper mb-60">
            <input type="checkbox" id="read_more_check">
            <div class="text-wrapper read-more--panel">
                <p>O poder é você, o poder sou eu, o poder somos nós. O movimento Ocupa o Poder é uma iniciativa inédita no Brasil, para promover a participação da juventude na política e transformar a representação da população no comando do país. Somos jovens de todos os estados, de diferentes origens, que não querem mais as mesmas caras e os mesmos caras no poder, com os mesmos interesses de sempre. Para isso criamos uma plataforma e uma campanha nacional de integração de propostas, estratégias e candidaturas nas eleições de 2018.</p>
                <p>Nascemos em um momento de crise do sistema político e de pouca confiança dos brasileiros nos seus atuais representantes. Somos a maioria, os 99%formados por jovens, trabalhadores, mulheres, jovens negros, indígenas, moradores das favelas, a população LGBT, estudantes, artistas, ativistas, comunicadores e todos que, apesar de serem uma parcela tão importante da população, não têm voz no Congresso Nacional, nas Assembleias Legislativas.  Nosso convite é para virarmos esse jogo e colorir o poder com as nossas cores, com os rostos das nossas e dos nossos representantes. Essa é a única forma de construirmos uma política pública que reconheça e valorize a juventude do Brasil.</p>
                <p>Queremos ocupar o poder para mudar a política econômica que sempre favorece apenas os mais ricos e os grandes interesses financeiros. Queremos ocupar o poder para garantir o investimento na educação pública de qualidade, o acesso da juventude ao transporte, à cultura, à saúde, ao trabalho. Queremos ocupar o poder para combater o machismo, o racismo, a LGBTfobia, para promover a vida dos jovens das periferias. Queremos ocupar o poder para defender a soberania nacional e o desenvolvimento do Brasil, para fortalecer a democracia, o avanço da nossa Ciência e Tecnologia.</p>
                <p>O movimento Ocupa o Poder é uma iniciativa da União da Juventude Socialista (UJS) e é aberto a todas e todos os jovens do país. Somos a geração que ocupou as escolas e universidades do Brasil, nos últimos anos, na maior ação organizada da juventude brasileira em toda a história. Somos quem lutou e conquistou o Plano Nacional de Educação, quem ocupou as ruas nas jornadas de 2013, quem defende o Passe Livre e luta contra o aumento das passagens nas principais cidades, quem enfrenta a onda de conservadorismo no país, nas ruas e nas redes, combatendo os preconceitos e as injustiças.</p>
                <p>Ocupar é nosso direito, ocupar é nosso dever. Somos a energia e a criatividade do país, somos mais de 50 milhões de jovens e queremos o Brasil conduzido de outra forma. Junte-se a nós, mobilize o seu bairro, a sua escola, as suas redes sociais e participe da ocupação. Todo poder é o nosso poder. Ocupe!</p>
            </div>
            <label for="read_more_check" class="hide btn">Ler</label>
        </div>
        <div class="col-md-6 col-xl-4 candidate-card--wrapper" *ngFor="let candidate of candidates">
            <candidate-card [candidate]="candidate"></candidate-card>
        </div>
    </div>
</div>

<home-footer></home-footer>
