.modal-container{
  background: white;
  height: 200px;
  border-radius: 17px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  .modal-body{
    max-height: calc(100% - 110px);
  }
}


.modal-body{
  display: flex;
  flex-direction: column;
  align-items: center;
}