<div class="modal-video--bg active"></div>
<div class="modal-video modal-container active">
  <div class="modal-body">
    <!-- <div class='image'>
      <img [src]="nudge.imagePath">
    </div> -->
    <h5 class="modal-title">{{ nudge.message }}</h5>
  </div>
  <div class='action'>
    <button class="button green btn btn-danger" (click)="close()"> Fechar </button>
  </div>
</div>
