.cards {
    margin-top: -280px;
    padding-bottom: 100px;

    &--card {
        border-radius: 17px;
        padding-bottom: 50px;

        a {
            color: white !important;
            text-decoration: none !important;
        }

        &-category {
            padding: 10px 25px;
            text-align: center;
            border-top-left-radius: 17px;
            border-top-right-radius: 17px;
            position: relative;

            &:after {
                content: '';
                position: absolute;
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
                background: linear-gradient(95deg, transparent, rgba(255, 255, 255, 0.55));
                border-top-right-radius: 17px;
            }


            span {
                border: 2px solid white;
                border-radius: 17px;
                padding: 0px 20px;
                text-transform: uppercase;
                font-size: 22px;
                font-weight: 500;
                color: white;
            }
        }

        &-title {
            padding: 20px 30px;
            border-bottom-right-radius: 17px;
            border-bottom-left-radius: 17px;
            color: #FFFFFF;
            font-size: 23px;
            font-weight: 500;
            text-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
            background-color: rgba(0, 0, 0, 0.7);
            line-height: 30px;
        }

        &-image {
            height: 227px;
            background-size: cover;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            color: #FFFFFF;
            font-size: 25px;
            font-weight: bold;
            position: relative;

            * {
                position: relative;
                z-index: 2;
            }

            &:before {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background: linear-gradient(transparent, black);
            }
        }
    }
}
