<div class="cards--card">
  <div class="cards--card-category" [ngStyle]="{ 'background-color' : opinion.cor }"><span>{{ opinion.category }}</span></div>
  <div class="cards--card-image" [ngStyle]="{ 'background-image' : 'url('+opinion.image+')' }">
    <div class="icon-play"><a routerLink="/conversa"><img src="/assets/images/play_ocupa.png" alt="" width="60"></a></div>
    <span class="text-white"><a routerLink="/conversa">Assista ao Vídeo</a></span>
  </div>
  <div class="cards--card-title"><a routerLink="/conversa">Construa conosco um programa para Educação do País.</a></div>
</div>
