<div class="row justify-content-center">
  <div class="col-md-8">
    <div class="panel mt-60 mb-20">
      <app-recover-password-confirm signupPath="/campanha/registrar"></app-recover-password-confirm>
    </div>
  </div>
</div>
