<app-loader *ngIf="!insideIframe && (loader.progress$|async)"></app-loader>
<div class="app-root">
  <div class="site-wrapper">
    <div class="wrapper wrapper-bg">
        <router-outlet></router-outlet>
    </div>
  </div>
</div>