<div class="row justify-content-center">
  <div class="col-md-8">
    <div class="panel mt-60 mb-20">
      <app-login signupPath="/campanha/registrar" recoverPasswordPath="/campanha/recuperar-senha" [socialLogin]="true"></app-login>
    </div>
  </div>
</div>
