<div class="row justify-content-center">
  <div class="col-md-12">
    <h4 class="text-primary text-center mb-25">
      <p>{{ profile?.name || profile?.email }}</p>
      <!-- <div class="col-md-4 m-0auto text-center" *ngIf="socialAccounts">
        <ul class="list-inline">
          <li class="list-inline-item" *ngIf="socialAccounts?.facebook">
            <span class="btn btn-block btn-blue"><i class="fab fa-facebook-f"></i></span>
          </li>
          <li class="list-inline-item" *ngIf="socialAccounts?.twitter">
            <span class="btn btn-block btn-lightblue"><i class="fab fa-twitter"></i></span>
          </li>
        </ul>
      </div> -->
      <p *ngIf="profile.city">{{ city }}</p>
    </h4>
    <div class="col-md-4 mx-auto text-center mb-20" *ngIf="!allConnected">
      <p class="text-center mt-20 mb-20"><strong>Conecte suas redes sociais</strong></p>
      <div class="alert alert-danger" *ngIf="socialErrors">
        {{ socialErrors }}
      </div>
      <ul class="login-social">
        <li *ngIf="!socialAccounts?.facebook">
          <a class="btn btn-block btn-blue" (click)="connectToFacebook()"><i class="fab fa-facebook-f"></i></a>
        </li>
        <li *ngIf="!socialAccounts?.twitter">
          <a class="btn btn-block btn-lightblue" (click)="connectToTwitter()"><i class="fab fa-twitter"></i></a>
        </li>
      </ul>
    </div>
  </div>
  <div class="col-md-12 collapsable">
    <div class="collapsable-header">
      <div class="custom-progress horizontal">
        <p class="custom-progress--title">Sobre Você</p>
        <div class="custom-progress--bar-wrapper">
          <div class="custom-progress--bar" [style.width]="personal_progress | percent:'1.0':'en-US'"></div>
        </div>
        <small class="custom-progress--caption">{{ personal_progress | percent:'1.0':'en-US' }} preenchido</small>
      </div>
    </div>
    <div class="collapsable-body">
      <form action="">
        <div class="row">
          <div class="col-md-12">
            <input type="text" name="name" placeholder="Nome" [(ngModel)]="profile.name" (change)="trackPersonalProgress()">
          </div>
          <div class="col-md-4">
            <input type="text" name="cpf" placeholder="CPF" [(ngModel)]="profile.cpf" [textMask]="{mask: cpfMask}" required>
          </div>
          <div class="col-md-4">
            <select name="race" [(ngModel)]="profile.race" (change)="trackPersonalProgress()">
              <option [ngValue]="null" disabled>Cor/Raça</option>
              <option *ngFor="let race of raceColorOptions" [value]="race.id">{{ race.name }}</option>
            </select>
          </div>
          <div class="col-md-4">
            <input type="date" name="birth_date" placeholder="Data de Nascimento" [(ngModel)]="profile.birth_date" (change)="trackPersonalProgress()">
          </div>
          <div class="col-md-12">
            <h5 class="light mt-30">Identidade de Gênero</h5>
          </div>
          <div class="col-md-4">
            <select name="gender" [(ngModel)]="profile.gender" (change)="trackPersonalProgress()">
              <option [ngValue]="null" disabled>Identidade de Gênero</option>
              <option *ngFor="let gender of genderOptions" [value]="gender.id">{{ gender.name }}</option>
            </select>
          </div>
          <div class="col-md-8" *ngIf="profile.gender == 'OTHER'">
            <input type="text" name="gender_other"
               placeholder="Identidade de Gênero"
               [(ngModel)]="profile.gender_other" (change)="trackPersonalProgress()">
          </div>
          <div class="col-md-12">
            <h5 class="light mt-30">Orientação Sexual</h5>
          </div>
          <div class="col-md-4">
            <select name="sexual_orientation" [(ngModel)]="profile.sexual_orientation" (change)="trackPersonalProgress()">
              <option [ngValue]="null" disabled>Orientação Sexual</option>
              <option *ngFor="let so of sexualOrientationOptions" [value]="so.id">{{ so.name }}</option>
            </select>
          </div>
          <div class="col-md-8" *ngIf="profile.sexual_orientation == 'OTHER'">
            <input type="text" name="sexual_orientation_other"
               placeholder="Orientação Sexual"
               [(ngModel)]="profile.sexual_orientation_other" (change)="trackPersonalProgress()">
          </div>
          <div class="col-md-12">
            <h5 class="light mt-30">Biografia</h5>
            <textarea name="biography" cols="30" rows="10" [(ngModel)]="profile.biography" (change)="trackPersonalProgress()"></textarea>
          </div>
          <div class="col-md-12">
            <h5 class="light mt-30">Endereço</h5>
          </div>
          <div class="col-md-8">
            <input type="text" name="address" placeholder="Endereço" [(ngModel)]="profile.address" (change)="trackPersonalProgress()">
          </div>
          <div class="col-md-4">
            <input type="text" name="adress_number" placeholder="Número" [(ngModel)]="profile.address_number" (change)="trackPersonalProgress()">
          </div>
          <div class="col-md-6">
            <input type="text" name="address_extra" placeholder="Complemento" [(ngModel)]="profile.address_extra">
          </div>
          <div class="col-md-6">
            <input type="text" name="zipcode" placeholder="CEP" [(ngModel)]="profile.zipcode" (change)="searchZipCode()" [textMask]="{mask: cepMask}">
          </div>
          <ng-container *ngIf="has_zipcode">
            <div class="col-md-6">
              <select name="state" [(ngModel)]="profile.state">
                <option [ngValue]="null" disabled *ngIf="profile.state === null">Estado</option>
                <option *ngFor="let state of statesOptions" [value]="state.id">{{ state.name }}</option>
              </select>
            </div>
            <div class="col-md-6">
              <select name="city" [(ngModel)]="profile.city" (change)="searchCity()">
                <option [ngValue]="null" disabled *ngIf="profile.city === null">Cidade</option>
                <option *ngFor="let city of citiesOptions" [value]="city.id">{{ city.name }}</option>
              </select>
            </div>
          </ng-container>

          <div class="col-md-12">
            <h5 class="light mt-30">Contato</h5>
          </div>
          <div class="col-md-4">
            <input type="text" name="phone_number" placeholder="Telefone (com DDD)" [(ngModel)]="profile.phone_number" (change)="trackPersonalProgress()" [textMask]="{mask: phoneMask}">
          </div>

          <div class="col-md-12">
            <h5 class="light mt-30">Escolaridade</h5>
          </div>
          <div class="col-md-4">
            <select name="studies" [(ngModel)]="profile.studies" (change)="trackPersonalProgress()">
              <option [ngValue]="null" disabled *ngIf="profile.studies === null">Selecionar</option>
              <option [ngValue]="true">Atualmente sou estudante</option>
              <option [ngValue]="false">Não sou estudante</option>
            </select>
          </div>
          <div class="col-md-8" *ngIf="profile.studies">
            <input type="text" name="school" placeholder="Instituição de ensino" [(ngModel)]="profile.school" (change)="trackPersonalProgress()">
          </div>

          <!--
          <div class="col-md-12">
            <h5 class="light mt-30">Configurações da Conta</h5>
          </div>
          <div class="col-md-12">
            <input type="email" name="email" placeholder="E-mail" [(ngModel)]="profile.email">
          </div>
          <div class="col-md-12">
            <input type="password" name="password" placeholder="Senha" [(ngModel)]="password">
          </div>
          <div class="col-md-12">
            <input type="password" name="password2" placeholder="Nova Senha" [(ngModel)]="new_password">
          </div>

          <div class="col-md-4">
            <button class="btn btn-block btn-blue"><i class="fab fa-facebook-f"></i> Conectar ao Facebook</button>
          </div>
          <div class="col-md-4">
            <button class="btn btn-block btn-lightblue"><i class="fab fa-twitter"></i> Conectar ao Twitter</button>
          </div>
          -->
        </div>
      </form>
    </div>
  </div>

  <div class="col-md-12 collapsable">
    <div class="collapsable-header">
      <div class="custom-progress horizontal">
        <p class="custom-progress--title">Militância</p>
        <div class="custom-progress--bar-wrapper">
          <div class="custom-progress--bar" [style.width]="activism_progress | percent:'1.0':'en-US'"></div>
        </div>
        <small class="custom-progress--caption">{{ activism_progress | percent:'1.0':'en-US' }} preenchido</small>
      </div>
    </div>
    <div class="collapsable-body">
      <div class="row">
        <div class="col-md-12">
          <h5 class="light">Local de ativismo:</h5>
        </div>
        <div class="col-md-4">
          <select name="activism_place" [(ngModel)]="profile.activism_place" (change)="trackActivismProgress()">
            <option [ngValue]="null" disabled *ngIf="profile.activism_place === null">Selecionar</option>
            <option *ngFor="let place of activismPlaceOptions" [value]="place.id">{{ place.name }}</option>
          </select>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 mt-30">
          <h5 class="light">No local de estudo/trabalho, você participa de:</h5>
        </div>
      </div>
      <div class="row justify-content-between">
        <div class="custom-radio flex" *ngFor="let activity of activismSchoolWorkplaceOptions">
          <input type="checkbox" name="activism_school_workplace" [id]="'activism_school_workplace_' + activity.id" [checked]="arrayContains('activism_school_workplace', activity)" (change)="arrayToggle('activism_school_workplace', activity, $event.target.checked)"  (change)="trackActivismProgress()">
          <label [for]="'activism_school_workplace_' + activity.id" class="w-100p">{{ activity.name }}</label>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <input type="text" name="activism_school_workplace_other" placeholder="Outra participação em local de trabalho/estudo" [(ngModel)]="profile.activism_school_workplace_other" (change)="trackActivismProgress()">
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <h5 class="light mt-30">Milita ou possui mandato em alguma entidade, partido ou ONG?</h5>
        </div>
        <div class="col-md-4">
          <select name="has_vote" [(ngModel)]="profile.has_mandate" (change)="trackActivismProgress()">
            <option [ngValue]="null" disabled *ngIf="profile.has_mandate === null">Selecionar</option>
            <option [ngValue]="true">Sim</option>
            <option [ngValue]="false">Não</option>
          </select>
        </div>
        <div class="col-md-8" *ngIf="profile.has_mandate">
          <input type="text" name="vote_city" placeholder="Qual?" [(ngModel)]="profile.mandate" (change)="trackActivismProgress()">
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 mt-20">
          <h5 class="light">Você já vota?</h5>
        </div>
        <div class="col-md-4">
          <select name="has_vote" [(ngModel)]="profile.has_vote" (change)="trackActivismProgress()">
            <option [ngValue]="null" disabled *ngIf="profile.has_vote === null">Selecionar</option>
            <option [ngValue]="true">Sim</option>
            <option [ngValue]="false">Não</option>
          </select>
        </div>
        <div class="col-md-8" *ngIf="profile.has_vote">
          <input type="text" name="vote_city" placeholder="Cidade" [(ngModel)]="profile.vote_city" (change)="trackActivismProgress()">
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-12 collapsable">
    <div class="collapsable-header">
      <div class="custom-progress horizontal">
        <p class="custom-progress--title">Frentes</p>
        <div class="custom-progress--bar-wrapper">
          <div class="custom-progress--bar" [style.width]="fronts_progress | percent:'1.0':'en-US'"></div>
        </div>
        <small class="custom-progress--caption">{{ fronts_progress | percent:'1.0':'en-US' }} preenchido</small>
      </div>
    </div>
    <div class="collapsable-body">
      <div class="row justify-content-between">
        <div class="custom-radio flex" *ngFor="let front of politicalFrontsOptions">
          <input type="checkbox" name="political_front" [id]="'political_front_' + front.id" [checked]="arrayContains('political_front', front)" (change)="arrayToggle('political_front', front, $event.target.checked)" (change)="trackFrontsProgress()">
          <label [for]="'political_front_' + front.id" class="w-100p">{{ front.name }}</label>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 mt-20">
          <input type="text" name="activism_school_workplace_other" placeholder="Outras frentes em que atue?" [(ngModel)]="profile.political_front_other" (change)="trackFrontsProgress()">
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <h5 class="light mt-30">Participa de alguma instância de direção da UJS?</h5>
        </div>
        <div class="col-md-12">
          <select name="ujs_manager_role" [(ngModel)]="profile.ujs_manager_role[0]" (change)="trackFrontsProgress()">
            <option [ngValue]="null" disabled *ngIf="profile.ujs_manager_role.length === 0">Selecionar</option>
            <option *ngFor="let role of managerRoleOptions" [value]="role.id">{{ role.name }}</option>
          </select>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-8 m-0auto text-center mt-20">
    <button (click)="submit()" class="btn btn-large mb-60">Salvar</button>
  </div>
</div>