<footer class="home-footer-bg">
  <div class="container home-footer">
    <div class="row">
      <div class="col-md-4">
        <img class="footer-figure left" src="/assets/images/figura_tambor.png" alt="">
      </div>
      <div class="col-md-4">
        <h5 class="text-center text-uppercase mt-60">
          <a href="/#participe" class="text-yellow">PARTICIPE </a>
          <a href="/#contribua" class="text-yellow"> CONTRIBUA </a>
        </h5>
        <p class="flex-justify-center mt-40">
          <a href="https://www.facebook.com/sharer.php?u=https%3A%2F%2Focupa.org.br%2F" target="_blank" class="btn-outline-social medium"> <i target="_blank" class="fab fa-facebook-f"></i> </a>
          <a href="http://twitter.com/share?text=Ocupa o Poder!" target="_blank" class="btn-outline-social medium"> <i class="fab fa-twitter"></i> </a>
        </p>
      </div>
      <div class="col-md-4">
        <img class="footer-figure right" src="/assets/images/bandeira 2.png" alt="">
      </div>
    </div>
  </div>
</footer>
