.home-footer {
  height: 470px;
  width: 100vw;
  max-width: 100vw;
  background-size: cover;
  background-position: center;
  background-image: url('/assets/images/home-footer-bg.png');
  position: relative;
  &-bg {
    background-image: url('/assets/images/photo5159296397823027173.jpg');
    background-size: cover;
    background-position: center top;
    background-color: rgba(0, 0, 0, 0.53);
    background-blend-mode: color;
  }
  h5 a:after {
    content: '|';
  }
  ::placeholder {
    color: #f6c600 !important;
  }
  input {
    color: white;
  }
  @media screen and (max-width: 900px) {
    height: 550px;
    .mt-60 {
      margin-top: 30px;
    }
    .mt-40 {
      margin-top: 20px;
    }
    .col-md-4 h5 {
      display: flex;
      flex-direction: column;
      height: 120px;
      justify-content: space-between;
      font-size: 27px;
      a:after {
        display: none;
      }
    }
  }
  .footer-figure {
    @media screen and (max-width: 900px) {
      display: none;
    }
    &.left {
      transform: scaleX(-1);
      filter: FlipH;
      margin-left: 100px;
      width: 270px;
      margin-top: 10px;
    }
    &.right {
      float: right;
      margin-right: 100px;
      width: 380px;
      margin-top: 50px;
    }
  }
  @media screen and (min-width: 901px) {
    .form-subscribe {
      position: absolute;
      bottom: 20px;
      left: 340px;
    }
  }
  @media screen and (max-width: 900px) {
    .form-subscribe {
      padding: 20px 35px;
      width: 100%;
      text-align: center;
    }
  }
}
