<div class="row justify-content-center">
  <div class="col-md-8">
    <div class="panel mt-60 mb-20">
      <app-register loginPath="{{ campaignUrl }}" [socialLogin]="true"></app-register>
    </div>
  </div>
</div>
