<div class="errors" *ngIf="field_error">
  <div class="error" *ngIf="field_error[0]" [innerHTML]="field_error[0]"></div>
  <div class="error" *ngIf="field_error.NotFound"[innerHTML]="field_error.NotFound"></div>
  <div class="error" *ngIf="field_error.digit"[innerHTML]="field_error.digit"></div>
  <div class="error" *ngIf="field_error.isEmpty"[innerHTML]="field_error.isEmpty"></div>
  <div class="error" *ngIf="field_error.recordFound"[innerHTML]="field_error.recordFound"></div>
  <div class="error" *ngIf="field_error.notInArray"[innerHTML]="field_error.notInArray"></div>
  <div class="error" *ngIf="field_error.stringLengthTooLong"[innerHTML]="field_error.stringLengthTooLong"></div>
  <div class="error" *ngIf="field_error.ageAlert"[innerHTML]="field_error.ageAlert"></div>
  <div class="error" *ngIf="field_error.notFloat"[innerHTML]="field_error.notFloat"></div>
  <div class="error" *ngIf="field_error.isInvalid"[innerHTML]="field_error.isInvalid"></div>
  <div class="error" *ngIf="field_error.expanded"[innerHTML]="field_error.expanded"></div>
  <div class="error" *ngIf="field_error.CartaoBloqueado"[innerHTML]="field_error.CartaoBloqueado"></div>
  <div class="error" *ngIf="field_error.inputLength"[innerHTML]="field_error.inputLength"></div>
  <div class="error" *ngIf="field_error.detail"[innerHTML]="field_error.detail"></div>
</div>
