<div>
  <div class="row justify-content-center">
    <div class="col-md-10">
      <div class="panel mt-60 mb-20">
        <h2 class="mb-20">{{ campaign?.name }}</h2>
        <h3 class="mt-20 mb-20">Cancelar inscrição</h3>

        <form *ngIf="step === 1" #cancellationForm="ngForm">
          <div class="row justify-content-between">
            <div class="col-md-12 mb-20">
              <input required email type="email" [ngClass]="{'border-danger': form_errors?.email}" [(ngModel)]="email"
                name="email" class="form-control" placeholder="Email">
              <app-form-errors [field_error]="form_errors?.email"></app-form-errors>
            </div>
          </div>

          <ng-container *ngIf="campaign?.rubric">
            <h4 class="mb-30">Destino da contribuição</h4>
            <div class="row">
              <select required [ngClass]="{'border-danger': form_errors?.rubric }" [(ngModel)]="rubric" name="rubric">
                <option *ngFor="let rubric of campaign.rubric" [ngValue]="rubric">{{ rubric }}</option>
              </select>
              <app-form-errors [field_error]="form_errors?.rubric"></app-form-errors>
            </div>
          </ng-container>

          <div class="row justify-content-center">
            <ngx-invisible-recaptcha #recaptcha type="image" badge="inline" lang="pt_BR" class="recaptcha-badge" (success)="markAsHuman($event)"></ngx-invisible-recaptcha>
            <app-form-errors [field_error]="form_errors?.captcha"></app-form-errors>
          </div>

          <div *ngIf="form_errors?.transaction" class="row justify-content-center col-md-12 mt-30 mb-10">
            <app-form-errors [field_error]="form_errors?.transaction"></app-form-errors>
          </div>
          <div class="row justify-content-center w-100p mt-20 mb-10">
            <div class="errors center mb-10" *ngIf="!objectEmpty(form_errors)">
              <p class="error">*Por favor, corrija os erros no formulário</p>
            </div>
            <button type="submit" (click)="verifyRobot()" id="submitButton" class="btn btn-success btn-large" #submitButton>Concluir</button>
          </div>
        </form>

        <div *ngIf="step === 2">
          <p>Instruções adicionais para o cancelamento foram enviadas ao seu email</p>
        </div>
      </div>
    </div>
  </div>
</div>