<menu></menu>
<page-header color="orange" title="Fórum" ></page-header>
<iframe id="discussion" #iframe style='box-shadow: none; -webkit-box-shadow:none; border: none;' (load)="resizeIframe()" src='/discussion'>
</iframe>
<home-footer></home-footer>
