::ng-deep body,
::ng-deep html,
::ng-deep .app-root,
::ng-deep .site-wrapper,
::ng-deep .wrapper,
{
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0
}

iframe {
  max-height: initial;
  overflow: hidden;
  width: 100%;
  margin: 0 0 60px;
  padding: 0;
  display: block;
  border: none;
}
