<div class="container mt-60">
  <div class="row">
    <div class="col-md-12">
      <h4 class="divider">Mensagens </h4>
    </div>
  </div>
</div>

<div class="panel-gray">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="message">
          <div>
            <img src="" alt="" class="message--image">
          </div>
          <div>
            <p class="message--title">Convite Especial!</p>
            <p class="message--author">Administrador da plataforma</p>
            <p class="message--content">Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum officiis perspiciatis explicabo quod dignissimos ex esse eligendi? Sit tenetur fugit autem officia inventore exercitationem, dolorem suscipit ad, pariatur, mollitia dignissimos.</p>
          </div>
        </div>
      </div>
      <div class="col-md-12 text-center">
        <a class="btn btn-large btn-danger">Ver Mais</a>
      </div>
    </div>
  </div>
</div>