.message{
    display: flex;

    &--image{
        float: left;
        margin-right: 30px;
        width: 100px;
        height: 100px;
        border-radius: 50%;
        background: red;
    }

    &--title {
        color: rgba(0,0,0,0.87);
        font-size: 20.8px;
        margin-bottom: 5px;
    }

    &--author{
        color: rgba(0,0,0,0.87);
        font-size: 16px;
    }

    &--content {
        color: rgba(0,0,0,0.54);
        font-size: 18.2px;
    }
}