<menu></menu>
<div class="menu-fix"></div>

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h4 class="divider highlight">Participação</h4>
    </div>
  </div>

  <div class="row mt-60">
    <div class="col-md-12">
      <h4 class="divider">Últimas Mensagens</h4>
    </div>
  </div>
</div>

<div class="panel-gray">
  <div class="container">
    <div class="row">
      <div class="col-md-6" *ngFor="let a of [1,2,3,4]">
        <card-post></card-post>
      </div>
      <div class="col-md-12 text-center">
        <a href="#" class="btn btn-large btn-danger">Ver Mais</a>
      </div>
    </div>
  </div>
</div>


<div class="container">
  <div class="row mt-60">
    <div class="col-md-12">
      <h4 class="divider">Opinião</h4>
    </div>
  </div>
</div>

<div class="panel-gray">
  <div class="container">
    <div class="row">
      <div class="col-md-4" *ngFor="let a of [1,2,3,4]">
        <card-opinion></card-opinion>
      </div>
      <div class="col-md-12 text-center">
        <a href="#" class="btn btn-large btn-danger">Ver Mais</a>
      </div>
    </div>
  </div>
</div>