$pink: #FF4081;
$yellow: #F6E324;

textarea{
    padding: 20px 15px;
    border-radius: 17px;
    border: 2px solid gray;
    box-shadow: 0 0px 15px rgba(0, 0, 0, 0.11);
    background: #f7f7f7;
}

.comment-message {
    padding: 19px;
    color: #FFF;
    margin: 14px;
    text-align: center;

    &.failed {
        background-color: #E30540;
    }

    &.success {
        background-color: #7ED321;
    }
}

.opinion-title{
    background-image: url('/assets/images/opinion-title_bg.png');
    font-family: 'Capture It';
    font-size: 40px;
    color: $pink;
    padding: 13px 0;
    margin-bottom: 20px;
}

.opinion-card{
    flex: 1;
    border: 0.5px solid #000000;
    background-color: $pink;
    box-shadow: 0 0px 10px 0 rgba(0, 0, 0, 0.3);
    padding: 40px;
    position: relative;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;

    &:after{
        content: '';
        border-top-right-radius: 20px;
        border-top-left-radius: 20px;
        background: #8e0034;
        width: 100%;
        height: 100%;
        z-index: 1;
        position: absolute;
        top: 0;
        left: 0;
        opacity: 0.6;
    }

    > * {
        position: relative;
        z-index: 10;
    }

    &--title{
        display: block;
        margin-left: -40px;
        border-top-right-radius: 20px;
        border-top-left-radius: 20px;
        margin-top: -40px;
        width: calc(100% + 80px);
        padding: 25px 40px 25px 150px;
        border-left: 1px solid black;
        color: #bb374f !important;
        box-shadow: 0 0 3px black;
        background: linear-gradient(90deg, #e09700, #f2d200 100%);

        @media screen and (max-width: 640px) {
            padding: 20px;
        }
    }

    &--title-img{
        position: absolute !important;
        width: 220px;
        top: -50px;
        left: -50px;

        @media screen and (max-width: 640px) {
            display: none;
        }

    }

    &--actions {
        display: flex;
        justify-content: space-between;

        @media screen and (max-width: 640px){
            flex-direction: column;

            a{ margin-bottom: 10px; }
        }

        a{
            border-radius: 40px;
            color: #FFFFFF;
            font-size: 18px;
            font-weight: 500;
            line-height: 20px;
            text-align: center;
            padding: 12px 18px 12px 60px;
            position: relative;

            &.agree{
                border: 3px solid #7ED321;
                i { background: #7ED321; padding: 15px; }
            }
            &.disagree{
                border: 3px solid #E94485;
                i{ background: #E94485; }
            }
            &.pass{
                border: 3px solid #F6E324;
                i { background: #F6E324; }
            }

            i{
                border-radius: 50%;
                position: absolute;
                left: -1px;
                top: -1px;
                padding: 15px 18px;
            }
        }
    }

    &--author{
        margin: 40px 0 10px 0;
        font-size: 15px;
        display: block;
        color: white;
    }

    &--description{
        margin-bottom: 40px;
        font-size: 20px;
    }
}

.opinion-card--info{
    display: flex;
    justify-content: space-between;
    font-weight: bolder;
    padding: 40px 50px 20px 50px;
    max-width: 100%;
    font-size: 18px;
    background: linear-gradient(to right, #e29f34, #f2d33a);
    margin-top: -20px;
    border-bottom-left-radius: 27px;
    border-bottom-right-radius: 27px;
    box-shadow: 0 0 5px rgba(8, 8, 8, 0.3);
    border: 1px solid black;
    color: #b8364f;

    @media screen and (max-width: 640px){
        padding: 40px 30px 20px 30px;
    }
}