<menu></menu>
<page-header [hasVideo]="conversation?.polis_url" title="{{ conversation?.title }}" (onPlayVideo)="controlVideo('play')"></page-header>

<div class="container mt-60">
  <div class="row">
    <div class="col-md-12">
      <h4 class="divider highlight">Conversa > {{ conversation?.title }}</h4>
    </div>
  </div>
</div>


<div class="modal-video--bg" [ngClass]="{ 'active' : videoModalActive }"></div>
<div *ngIf="conversation?.polis_url && videoModalActive" class="modal-video" [ngClass]="{ 'active' : videoModalActive }">
  <div class="close" (click)="controlVideo('pause'); videoModalActive = false">&times;</div>
  <youtube-player
  [videoId]="conversation?.polis_url"
  (ready)="savePlayer($event)"
  (change)="onStateChange($event)"
  ></youtube-player>
</div>

<div class="panel-gray with-image">
  <div class="container mb-60">
    <div class="row">
      <div class="col-md-12 mt-30">
        <div class="opinion-card">
          <h4 class="text-white opinion-card--title">{{ conversation?.description }}</h4>
          <img src="/assets/images/ilustra_caramegafone--mini.png" alt="" class="opinion-card--title-img">
          <div *ngIf="currentComment">
            <p class="opinion-card--author">{{ currentComment?.author.name }}</p>
            <h6 class="text-white opinion-card--description">{{ currentComment?.content }}</h6>
            <div class="opinion-card--actions">
              <a (click)="vote(currentComment, VoteAction.AGREE)" class="agree"><i class="fas fa-check"></i> Concordo</a>
              <a (click)="vote(currentComment, VoteAction.DISAGREE)" class="disagree"><i class="fas fa-times"></i> Discordo</a>
              <a (click)="vote(currentComment, VoteAction.PASS)" class="pass"><i class="fas fa-question"></i> Passo/Indeciso</a>
            </div>
          </div>
          <div *ngIf="!currentComment">
            <h4 class="text-white mt-40 opinion-card--description">Você já votou em todos os comentários desta conversa</h4>
          </div>
        </div>

        <div class="opinion-card--info">
          <div><i class="fas fa-comments"></i> {{ conversation?.approved_comments + ' comentário' + (conversation?.approved_comments == 1 ?'':'s') }}</div>
          <div><i class="fas fa-check-circle"></i> {{ conversation?.total_votes + ' voto' + (conversation?.approved_comments == 1 ?'':'s') }}</div>
        </div>

        <textarea  maxlength="280" class="mt-30" id="" cols="30" rows="3" placeholder="Inclua algo novo, evite opiniões semelhantes" [ngModel]="newCommentText" (ngModelChange)="commentCharCounter($event)"></textarea>
        <div class="text-right" [ngClass]="{ 'text-danger' : newCommentText && newCommentText.length > 279 }">{{ newCommentText ? newCommentText.length : '0' }} / 280</div>

        <button class="btn btn-large pull-right" (click)="sendComment()">Incluir Opinião</button>
        <p class="comment-message" *ngIf="newCommentStatus" [ngClass]="newCommentStatus === 'success' ? 'success' : 'failed'">
          <span *ngIf="newCommentStatus === 'success'">Comentário salvo. Obrigado!</span>
          <span *ngIf="newCommentStatus === 'failed'">Houve um problema ao enviar o seu comentário. Por favor, tente novamente</span>
        </p>
      </div>

      <div class="col-md-12 mt-40 opinion-share text-center">
        <h4 class="opinion-share--title text-pink text-uppercase fw-bold mb-20">Divulgue!</h4>

        <div class="flex-justify-center">
          <a href="https://www.facebook.com/sharer.php?u=https%3A%2F%2Focupa.org.br%2Fconversas%2F{{ conversation?.slug }}" target="_blank" class="btn-outline-social medium text-pink"> <i target="_blank" class="fab fa-facebook-f"></i> </a>
          <a href="http://twitter.com/share?text=Ocupa o Poder: {{ conversation?.description }}" target="_blank" class="btn-outline-social medium text-pink"> <i class="fab fa-twitter"></i> </a>
        </div>
      </div>

    </div>
  </div>
</div>
<!--
  <div class="opinion-title mb-60">
    <div class="container">
      <div class="row">
        <div class="col-md-12">Fase Diálogo</div>
      </div>
    </div>
  </div>
-->


<div class="modal-video--bg" [ngClass]="{ 'active' : errorModalActive }"></div>
<div *ngIf="conversation?.polis_url && errorModalActive" class="modal-video" [ngClass]="{ 'active' : errorModalActive }">
  <div class="close" (click)="errorModalActive = false">&times;</div>
  <h3>{{ newCommentStatus }}</h3>
</div>

<nudge *ngIf="nudge" [nudge]="nudge" (closeNudge)="nudge = false; errorModalActive = false;"></nudge>