<form class="container">
  <div class="row justify-content-center">
    <div class="col-md-12 text-center">
        <h2 class="text-primary mb-45">Obrigado por se filiar à União da Juventude Socialista!</h2>
        <p>Clique <a target="_blank" href="https://ocupa.org.br">aqui</a> para conhecer mais sobre a plataforma Ocupa!</p>
    </div>
  </div>
</form>