/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900');

@import 'assets/styles/_variables';
@import 'assets/styles/mixins';
@import '../node_modules/bootstrap/scss/bootstrap.scss';
@import 'assets/styles/_atoms';


@import 'assets/styles/_fonts';
@import 'assets/styles/_typography';
@import 'assets/styles/_icons';
@import 'assets/styles/_forms';
@import 'assets/styles/_forums';
@import 'assets/styles/_forums-pages';
@import 'assets/styles/_panels';
@import 'assets/styles/_buttons';
@import 'assets/styles/_progress';
@import 'assets/styles/_collapsable';
@import 'assets/styles/_pagination';
@import 'assets/styles/_campaign';

//Temporary
@import 'assets/styles/_modal-video';


menu{
    padding: 0;
    margin: 0;
}

.menu-fix{
    padding-top: 150px;
}

iframe{
    box-shadow: 0 0 30px black;
    width: 100%;
    height: calc(60VW / 1.7);
    max-height: 80vh;
}

body{
    overflow-x: hidden;
}

input[type=email] {
  text-transform: lowercase;
}