.bg-pink{
    background-color: $pink;
}

.text-pink{
    color: $pink !important;
}

@media screen and (min-width: 641px){
    .text-md-right{
        text-align: right;
    }
}

@media screen and (max-width: 640px){
    .mt-sm-5, .my-sm-5 {
        margin-top: 3rem !important;
    }
    .text-sm-center{
        text-align: center;
    }

    .mt-sm-15{
        margin-top: 15px;
    }
}

.yellow,
.text-yellow {
  color: $yellow;

  &:hover{
    color: $yellow;
  }
}

.fw-normal{
    font-weight: normal;
}

.fw-bold{
    font-weight: 700;
}

.tt-initial{
    text-transform: initial !important;
}

.mb-60{
    margin-bottom: 60px;
}

.mb-20{
    margin-bottom: 20px;
}

.mb-45{
    margin-bottom: 45px;
}

.m-0auto{
    margin: 0 auto;
}

.mb-30{
    margin-bottom: 30px;
}

.mt-20{
    margin-top: 20px;
}

.mt-30{
    margin-top: 30px;
}

.mt-40{
    margin-top: 40px;
}

.mt-60{
    margin-top: 60px;
}

.mt-90{
    margin-top: 90px;
}

.mt-120{
    margin-top: 120px;
}

.mb-40{
    margin-bottom: 40px;
}

.mb-90{
    margin-bottom: 90px;
}

.mb-120{
    margin-bottom: 120px;
}

.mr-30{
    margin-right: 30px;
}

.w-100p{
    width: 100%;
}

// FLEX-BOX
.flex{
    display: flex;
}

.grid {
    display: grid;
}

.flex-justify-center{
    display: flex;
    justify-content: center;
}

.flex-1{
    flex: 1;
}


.show-for-mobile{
    display: none;
}

.hidden {
    display: none;
}

@media screen and (max-width: 900px){
    .show-for-desktop{
        display: none;
    }

    .show-for-mobile{
        display: block;
    }
}