.btn{
    transition: all .5s;
    padding: 10px 40px;
    color: white;
    border: 0;
    border-radius: 40.72px;
    font-size: 14px;
    letter-spacing: 1px;
    font-weight: 100;
    background-repeat: no-repeat !important;

    &-large{
        background: linear-gradient(55deg, #b42432, #db2b72);
        font-weight: 500;
        box-shadow: 0 2px 15px rgba(0, 0, 0, 0.3);
        border: none;

        @media screen and (min-width: 900px){
            font-size: 21px;
            background-repeat: no-repeat;
        }
    }

    &-block{
        display: block;
    }

    &-small {
        border-radius: 11px;
        font-size: 12px;
        padding: 1px 15px;
        letter-spacing: 1px;
    }

    &-blue{
        background-color: #3B5998;
        color: white;
    }

    &-red{
        background-color: #DC4E41;
        color: white;
    }

    &-lightblue{
        background-color: #55ACEE;
        color: white;
    }

    &-large, &-blue, &-red, &-lightblue{
        &:hover {
            color: white;
            box-shadow: 0 5px 20px rgba(0,0,0,0.2);
        }
    }

    &-light{
        color: $pink;
        border: 2px solid $pink;
        background-color: transparent;

        &:hover{
            color: white;
            background-color: $orange;
        }
    }
}


.btn-outline-social{
    border-radius: 50%;
    font-size: 35px;
    color: #ffc107;
    display: flex;
    width: 70px;
    border: 3px solid #ffc107;
    height: 70px;
    margin-right: 15px;
    align-items: center;
    justify-content: center;

    &:hover{
        color: #ffc107;
    }

    &.text-pink{
        border-color: #C81967;
    }

    @media screen and (max-width: 900px){
        font-size: 23px;
        height: 55px;
        width: 55px;
    }

    &.medium{
        font-size: 23px;
        height: 55px;
        width: 55px;
    }
}