$campaign-text-color: #333;

.panel {
    background-color: #EEE;
    color: $campaign-text-color;

    h2, h3, h4 {
        color: #C82852;
    }

    .custom-checkbox {
        display: block;
        margin-bottom: 10px;

        label {
            color: $campaign-text-color;
            font-size: 20px;
        }

        label:before {
            background-color: #BBB;
            color: transparent;
        }

        input:checked + label:before {
            background-color: #777;
            color: white;
        }
    }

    .custom-radio {
        padding: 0 10px;

        label {
            width: 100%;
        }
    }
}