.collapsable{

    &-header{
        background-color: #F4F6F9;
        padding: 25px 15px;
    }

    &-body{
        padding: 30px 100px;

        @media screen and (max-width: 900px) {
            padding: 30px 0;
        }
    }
}