@font-face {
    font-family: 'Capture it';
    src: url('assets/styles/Captureit.woff2') format('woff2'),
        url('assets/styles/Captureit.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
