$gray:          #4a4a4a;

$gray-base:              #000 !default;
$gray-darker:            lighten($gray-base, 13.5%) !default; // #222
$gray-dark:              lighten($gray-base, 20%) !default;   // #333
$gray:                   lighten($gray-base, 33.5%) !default; // #555
$gray-light:             lighten($gray-base, 46.7%) !default; // #777
$gray-lighter:           lighten($gray-base, 93.5%) !default; // #eee

$forum-font-size-sm: 12px;
$forum-font-size: 16px;

//== Media queries breakpoints
//
//## Define the breakpoints at which your layout will change, adapting to different screen sizes.

// Extra small screen / phone
//** Deprecated `$screen-xs` as of v3.0.1
$screen-xs:                  480px !default;
//** Deprecated `$screen-xs-min` as of v3.2.0
$screen-xs-min:              $screen-xs !default;
//** Deprecated `$screen-phone` as of v3.0.1
$screen-phone:               $screen-xs-min !default;

// Small screen / tablet
//** Deprecated `$screen-sm` as of v3.0.1
$screen-sm:                  768px !default;
$screen-sm-min:              $screen-sm !default;
//** Deprecated `$screen-tablet` as of v3.0.1
$screen-tablet:              $screen-sm-min !default;

// Medium screen / desktop
//** Deprecated `$screen-md` as of v3.0.1
$screen-md:                  992px !default;
$screen-md-min:              $screen-md !default;
//** Deprecated `$screen-desktop` as of v3.0.1
$screen-desktop:             $screen-md-min !default;

// Large screen / wide desktop
//** Deprecated `$screen-lg` as of v3.0.1
$screen-lg:                  1200px !default;
$screen-lg-min:              $screen-lg !default;
//** Deprecated `$screen-lg-desktop` as of v3.0.1
$screen-lg-desktop:          $screen-lg-min !default;

// So media queries don't overlap when required, provide a maximum
$screen-xs-max:              ($screen-sm-min - 1) !default;
$screen-sm-max:              ($screen-md-min - 1) !default;
$screen-md-max:              ($screen-lg-min - 1) !default;

// Shared forums components
// --------------------------------------------------

.forums {
  font-size: $forum-font-size;

  .user-updates {
      background-color: $gray-lighter;
      margin: 10px 0 20px;
      padding: 10px;

      .user-update {
          margin-bottom: 15px;
      }
  }

  .section-title {
    margin-top: 20px;
  }

  .action {
      font-size: $forum-font-size-sm;
      margin-right: 5px;
      &:before {
          margin-right: 2.5px;
      }
      &.edit {
          @extend %icon-edit;
      }
      &.liked {
          @extend %icon-like;
          &.active {
              color: $red;
              font-weight: 800;
          }
      }
      &.replies {
          @extend %icon-discussion;
      }
  }

  .info {
      color: $gray;
      font-size: 14px;
      overflow: hidden;
      padding-bottom: 1px;
      a {
          font-weight: 700;
      }
      .user-name {
          color: $gray-dark;
          font-weight: 700;
      }
  }
}

a.tag, a.category {
    background-color: lighten($yellow, 10%);
    border-radius: 15px;
    color: initial;
    display: inline-block;
    margin-bottom: 5px;
    margin-right: 5px;
    padding: 5px 15px;
    white-space: nowrap;

    &:hover {
        text-decoration: none;
    }
}

.filters {
  padding: 0 !important;
  .filters-header {
      background-color: $gray-lighter;
      font-size: $forum-font-size-sm;
      font-weight: 600;
      overflow: hidden;
      padding: 5px 0;
  }
  .filters-options {
      overflow: hidden;
      padding: 7px 0;
  }
}
