// Forums' pages
// --------------------------------------------------

.forums-page {
  a {
      cursor: pointer;
  }

  .widget-header {
      margin-top: 50px;
      .widget-title {
          display: inline-block;
      }
      .new-topic {
          @media screen and (max-width: $screen-xs-max) {
              float: right;
          }
          @media screen and (min-width: $screen-sm-min) {
              margin: -12px 0 0 0;
          }
      }
  }

    .ui-select-container {
        .ui-select-match-item {
            background-color: $yellow;
            color: $black;
            padding: 5px;
        }

        .ui-select-choices-row {
            font-size: 15px;
        }
    }

    .mce-tinymce iframe {
        box-shadow: none;
    }
}

.widget-topbar {
  margin-top: 50px;
  &.breadcrumb {
    .title {
        font-size: 20px;
        line-height: 40px;
        margin-left: 25px;
    }

    .pull-right {
        position: absolute;
        right: 30px;
    }

    .goback {
        @extend %icon-goback;
        margin-right: 5px;
        line-height: 40px;
        vertical-align: middle;
        &:before {
            margin-right: 5px;
        }
    }
  }
}

.comments-form {
  margin: 20px 0 10px;
  overflow: hidden;
  width: 100%;
  .tools {
      button {
          border: 1px solid $gray-light;
          border-radius: 5px 5px 0 0;
          border-bottom: 0;
          height: 30px;
          line-height: 18px;
          text-align: center;
          vertical-align: bottom;
          width: 30px;
          @include button-hover($gray, $gray, $gray-lighter, darken($gray-lighter, 10%));
          &.bold, &.italic, &.underline {
              font-family: $font-family-sans-serif;
              font-size: 18px;
          }
          &.bold {
              font-weight: bold;
          }
          &.italic {
              font-style: italic;
          }
          &.underline {
              text-decoration: underline;
          }
      }
  }
  .mce-tinymce {
      margin-bottom: 15px;
  }
  textarea {
      border: 2px solid $light-blue;
      height: 170px;
      margin-bottom: 10px;
      padding: 10px;
      width: 100%;
  }
  button + button {
      margin-right: 10px;
  }
}

.forum-thread {
  background-color: rgba(#fff,0.8);
  padding: 15px;
  .thread-header {
      display: inline-block;
      font-size: 1.5 * $forum-font-size;
      font-family: $font-family-sans-serif;
      margin: 0;
      padding-bottom: 1px;
      @media screen and (min-width: $screen-xs-min) {
          font-size: 16px;
      }
      .user-name {
          font-size: 1.5 * $forum-font-size;
          @media screen and (min-width: $screen-xs-min) {
              font-size: 16px;
          }
      }
  }
  .thread-title {
      display: block;
      font-family: $font-family-sans-serif;
      font-size: 2 * $forum-font-size;
      font-weight: 700;
      line-height: 1.3;
      margin-bottom: 2px;
      @media screen and (min-width: $screen-xs-min) {
          display: inline;
          font-size: 22px;
          margin-bottom: 0;
      }
  }
  .user-name {
      color: #000;
  }
  .actions {
      margin: 10px 0 0;
      overflow: hidden;
      .last-update {
          color: lighten($gray-light,10%);
          display: inline-block;
          font-size: $forum-font-size-sm;
      }
  }
  .tags {
      display: inline-block;
      margin: 0 0 5px 0;
  }
  .thread-post {
      background-color: rgba(155,155,155,0.3);
      margin-top: 10px;
      padding: 15px;

      p:last-child {
          margin-bottom: 0;
      }
      img {
        max-width: 100%;
        height: auto;
      }
  }
  .comments {
      border-top: 1px solid $gray-light;
      margin-top: 20px;
      padding-top: 20px;
      > .thread {
          border-bottom: 1px dashed lighten($gray-light,20%);
          margin-bottom: 20px;
          padding-bottom: 20px;
          .thread {
              border-left: 2px solid lighten($gray-light,20%);
              margin: 20px 0 0 20px;
              padding-left: 20px;
          }
      }
      .thread:last-child {
          border-bottom: 0;
          margin-bottom: 0;
          padding-bottom: 0;
      }
      .user-name {
          display: inline-block;
          margin-bottom: 5px;
      }
      .actions {
          padding-bottom: 1px;
      }
      .comments-form {
          margin-top: 0px;
          textarea {
              height: 60px;
          }
      }
  }
  .comments-title {
      color: $gray-light;
      font-family: $font-family-sans-serif;
      font-weight: 900;
      margin: 0 0 20px 0;
  }
}

.tinymce-loading {
  text-align: center !important;
  color: $orange;
}

.thread .info img {
max-width: 100%;
height: auto;
}

.post-attachments {
  .attachments {
      border: 1px solid $primary;
      border-radius: 10px;
      color: $primary;
      display: inline-block;
      font-size: $forum-font-size-sm;
      padding: 8px;
      > span {
          font-weight: 600;
          &:before {
              margin-right: 5px;
              vertical-align: bottom;
          }
      }
  }
  ul {
      border-left: 2px solid rgba($primary,0.7);
      margin: 5px 15px;
      padding-left: 8px;
      li {
          @extend %icon-attachment;
          list-style: none;
          padding: 3px 0;
          &:before {
              margin-right: 8px;
          }
          .delete {
              cursor: pointer;
              margin-left: 5px;
              &:before {
                  color: $primary;
                  content: '\f057';
                  font-style: normal;
                  font-weight: normal;
                  font-family: 'FontAwesome';
                  font-size: 16px;
                  vertical-align: middle;
              }
          }
      }
  }
  .loading {
      margin: 10px;
      .loading-bar {
          border: 1px solid $primary;
          border-radius: 10px;
          height: 10px;
          width: 100%;
          div {
              background-color: $primary;
              border-radius: 8px;
              height: 8px;
          }
      }
  }
}

.forums {
  .post-attachments {
      a {
          font-size: $forum-font-size-sm;
          font-weight: 400;
      }
  }
  .post-attachments, .btn.attached {
      margin-top: 20px;
  }
  .last-update {
      color: $gray;
      font-size: $forum-font-size-sm;
      font-weight: 400;
      b {
          font-weight: 700;
      }
      a {
          color: $gray;
          font-weight: 700;
      }
  }
}

.forum-list {
  .info {
      margin-top: 10px;
  }
  .thread-name {
      color: #000;
      display: block;
      font-weight: 600;
      font-size: $forum-font-size;
      @media screen and (min-width: $screen-md-min) {
          max-width: 400px;
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
      }
  }
  .tags {
      margin: 0;
  }
  .last-update {
      margin-top: 2px;
  }
  table {
      tbody {
          td {
              @media screen and (max-width: $screen-sm-max) {
                  &:first-child, &.last-child {
                      clear: both;
                      display: block;
                      width: 100%;
                  }
              }
              @media screen and (min-width: $screen-md-min) {
                  &:first-child {
                      width: 350px;
                  }
                  &:nth-child(2){
                      width: 350px;
                  }
                  &:nth-child(3) {
                      width: 115px;
                  }
              }
          }
      }
  }
}

.empty-forum {
  color: $gray;
  font-size: $forum-font-size-sm;
  margin-bottom: 40px;
}

.see-all-topics {
  margin-bottom: 30px;
  text-align: center;
}

.new-thread {
  .form-control {
      border: 2px solid $gray-light;
      border-radius: 0;
      box-shadow: none;
      padding: 3px 3px 1px 3px !important;
      &:active, &:hover, &:focus {
          box-shadow: none;
      }
  }
  .help-text {
      font-size: $forum-font-size-sm;
      font-weight: 400;
  }
  .selected-forum {
      font-weight: 700;
  }
  .selected-forum, .selected-tags, .selected-category {
      margin: 12px 0 0 0;
  }
}
