$icons: (
    add: "\f055",
    angle-right: "\f105",
    attachment: "\f0c6",
    attention: "\f06a",
    backward: "\f04a",
    ban: "\f05e",
    briefcase: "\f0b1",
    caret-down: "\f0d7",
    caret-up: "\f0d8",
    chapters: "\f02d",
    chat: "\f27a",
    chevron-down: "\f078",
    chevron-left: "\f053",
    chevron-right: "\f054",
    chevron-up: "\f077",
    checked: "\f058",
    checkmark: "\f00c",
    compress: "\f066",
    courses: "\f12e",
    delete: "\f057",
    discussion: "\f075",
    download: "\f019",
    edit: "\f040",
    eye: "\f06e",
    expand: "\f065",
    file: "\f016",
    film: "\f008",
    filter: "\f0b0",
    forum: "\f10d",
    forward: "\f04e",
    help: "\f059",
    home: "\f015",
    goback: "\f053",
    like: "\f004",
    link: "\f0c1",
    lightbulb: "\f0eb",
    list: "\f00b",
    login: "\f090",
    logout: "\f08b",
    materials: "\f0f6",
    messages: "\f0a1",
    map-pin: "\f041",
    new-topic: "\f055",
    notes: "\f14b",
    notifications: "\f06a",
    occupation: "\f0b1",
    profile: "\f007",
    record: "\f0ea",
    register: "\f055",
    reply: "\f112",
    repositories: "\f07b",
    schedule: "\f0eb",
    search: "\f002",
    site: "\f0ac",
    sort: "\f0dc",
    stats: "\f012",
    students: "\f19d",
    times: "\f00d",
    thumbnail: "\f03e",
    tools: "\f013",
    trash: "\f1f8",
    undo: "\f0e2",
    use: "\f0c9",
    video: "\f008",
);

// Helpers
// --------------------------------------------------
// generic and multi-purpose classes and placeholders

//== Icon's placeholders
//
%icon {
  &-add {
      @include icon(before, add);
  }
  &-add-image {
      @include icon(before, thumbnail);
  }
  &-add-video {
      @include icon(before, video);
  }
  &-angle-right {
      @include icon(after, angle-right);
  }
  &-attachment {
      @include icon(before, attachment);
  }
  &-attention {
      @include icon(before, attention);
  }
  &-backward {
      @include icon(before, backward);
  }
  &-ban {
      @include icon(before, ban)
  }
  &-briefcase {
      @include icon(before, briefcase);
  }
  &-caret-down {
      @include icon(after, caret-down);
  }
  &-caret-up {
      @include icon(after, caret-up);
  }
  &-chevron-down {
      @include icon(after, chevron-down);
  }
  &-chevron-left {
      @include icon(before, chevron-left);
  }
  &-chevron-right {
      @include icon(before, chevron-right);
  }
  &-chevron-up {
      @include icon(after, chevron-up);
  }
  &-chat {
      @include icon(before, chat);
  }
  &-checked {
      @include icon(before, checked);
  }
  &-checkmark {
      @include icon(before, checkmark);
  }
  &-compress {
      @include icon(after, compress);
  }
  &-courses {
      @include icon(before, courses);
  }
  &-delete {
      @include icon(before, delete);
  }
  &-discussion {
      @include icon(before, discussion);
  }
  &-download {
      @include icon(before, download);
  }
  &-edit {
      @include icon(before, edit);
  }
  &-expand {
      @include icon(after, expand);
  }
  &-file {
      @include icon(before, file);
  }
  &-film {
      @include icon(before, film);
  }
  &-filter {
      @include icon(before, filter);
  }
  &-forum {
      @include icon(before, forum);
  }
  &-forward {
      @include icon(after, forward);
  }
  &-goback {
      @include icon(before, goback);
  }
  &-help {
      @include icon(before, help);
  }
  &-home {
      @include icon(before, home);
  }
  &-lightbulb {
      @include icon(before, lightbulb);
  }
  &-like {
      @include icon(before, like);
  }
  &-link {
      @include icon(before, link);
  }
  &-list {
      @include icon(before, list);
  }
  &-login {
      @include icon(before, login);
  }
  &-logout {
      @include icon(before, logout);
  }
  &-materials {
      @include icon(before, materials);
  }
  &-messages {
      @include icon(before, messages);
  }
  &-map-pin {
      @include icon(before, map-pin);
  }
  &-new-topic {
      @include icon(before, new-topic);
  }
  &-notes {
      @include icon(before, notes);
  }
  &-notifications {
      @include icon(before, notifications);
  }
  &-occupation {
      @include icon(before, occupation);
  }
  &-profile {
      @include icon(before, profile);
  }
  &-record {
      @include icon(before, record);
  }
  &-register {
      @include icon(before, register);
  }
  &-reply {
      @include icon(before, reply);
  }
  &-repositories {
      @include icon(before, repositories);
  }
  &-schedule {
      @include icon(before, schedule);
  }
  &-search {
      @include icon(before, search);
  }
  &-see-more {
      @include icon(before, eye);
  }
  &-site {
      @include icon(before, site);
  }
  &-sort {
      @include icon(before, sort);
  }
  &-stats {
      @include icon(before, stats);
  }
  &-times {
      @include icon(before, times);
  }
  &-tools {
      @include icon(before, tools);
  }
  &-trash {
      @include icon(before, trash);
  }
  &-undo {
      @include icon(before, undo);
  }
  &-use {
      @include icon(before, use);
  }
}
