// Mixins
// --------------------------------------------------

//== Icons
//
// For adding font icons to elements using CSS pseudo-elements
// http://jaydenseric.com/blog/fun-with-sass-and-font-icons
@mixin icon($position: before, $icon: false, $styles: true) {
    @if $position == both {
        $position: 'before, &:after';
    }
    // Either a :before or :after pseudo-element, or both, defaulting to :before
    &:#{$position} {
        @if $icon {
            // A particular icon has been specified
            content: "#{map-get($icons, $icon)}";
        }
        @if $styles {
            // Supportive icon styles required
            font-style: normal;
            font-weight: normal;
            font-family: 'FontAwesome';
        }
        // Include any extra rules supplied for the pseudo-element
        @content;
    }
}

//== Button mixin
//
@mixin button-hover($color,$color-hover,$bg-color,$bg-color-hover) {
  color: $color;
  cursor: pointer;
  background-color: $bg-color;
  @include transition(all 0.5s ease);
  &:before {
    color: $color;
  }
  &:hover, &:focus, &:active {
    color: $color-hover;
    background-color: $bg-color-hover;
    &:before {
      color: $color-hover;
    }
  }
}

@mixin link-hover($color,$color-hover,$border,$border-hover) {
  color: $color;
  border-bottom-color: $border !important;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  cursor: pointer;
  line-height: 1.2;
  @include transition(all 0.2s ease);
  &:before {
    color: $color;
  }
  &:hover, &:focus, &:active {
    color: $color-hover;
    border-bottom-color: $border-hover !important;
    &:before {
      color: $color-hover;
    }
  }
}