.modal-video {
  margin-left: 20vw;
  margin-top: 50px;
  width: 60VW;
  height: calc(60VW / 1.7 + 70px);
  top: 0;
  left: 0;
  position: fixed;
  z-index: 10000000;
  opacity: 0;
  pointer-events: none;
  transition: all .6s;
  text-align: center;

  &.active {
    opacity: 1;
    pointer-events: all;
  }

  .close {
    color: white;
    font-size: 24px;
    font-weight: 900;
    border-radius: 50%;
    opacity: 1;
    padding: 7px 11px;
    background-color: #FF4081;
    position: absolute;
    right: -15px;
    transform: translateY(-50%);
  }
}

.modal-video--bg{
  background: rgba(0, 0, 0, 0.5);
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  position: fixed;
  display: none;
  z-index: 100;

  &.active{
    display: block;
  }
}

