$pagination-md-min: 625px;
$pagination-lg-min: 900px;

.pagination-wrapper {
    text-align: center;

    .pagination {

        > li {
            padding: 0 2px;
            > a {
                background-color: $yellow;
                border-radius: 15px;
                border: none;
                color: initial;
                font-size: 16px;
                height: 35px;
                line-height: 1;
                margin: 0 5px;
                padding: 10px 15px;
            }
            &.active {
                a {
                    background-color: $pink;
                    color: $white;
                }
            }
            &.pagination-first {
                > a {
                    &:before {
                        margin-right: 5px;
                        vertical-align: middle;
                    }
                }
            }
            &.pagination-last {
                > a {
                    &:after {
                        margin-left: 5px;
                        vertical-align: middle;
                    }
                }
            }
            &.pagination-prev, &.pagination-next {
                a {
                    font-size: 26px;
                    line-height: 0.7;
                    padding: 5px;
                    width: 25px;
                }
            }
        }
        &.pagination-sm {
            display: none;
            @media screen and (max-width: $pagination-md-min - 1px) {
                display: inline-block;
            }
            .pagination-first, .pagination-last {
                a {
                    font-size: 26px;
                    line-height: 0.7;
                    padding: 0;
                    min-width: 25px;
                }
            }
        }
        &.pagination-md {
            display: none;
            @media screen and (min-width: $pagination-md-min) and (max-width: $pagination-lg-min - 1px) {
                display: inline-block;
            }
        }
        &.pagination-lg {
            display: none;
            @media screen and (min-width: $pagination-lg-min) {
                display: inline-block;
            }
        }
    }
}