.panel{
    border-radius: 10px;
    padding: 45px;

    &-gray{
        background-color: #F4F6F9;
        padding: 60px;

        &.with-image{
            background-color: #f2f2f2;
            background-size: cover;
            background-image: url('/assets/images/photo5159296397823027171.jpg');
            background-blend-mode: soft-light;
        }
    }

    @media screen and (max-width: 640px) {
        &, &-gray{
            padding: 20px;
        }
    }
}

.text-wrapper{
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
}


.read-more--wrapper {
    position: relative;

    [type=checkbox]{
        display: none;
    }

    [type=checkbox]:checked + .read-more--panel{
        max-height: 1500px;
        padding-bottom: 100px;

        + label:after{ content: ' Menos'; }
    }

    .read-more--panel {
        position: relative;
        max-height: 400px;
        overflow: hidden;
        transition: max-height .5s ease;
    }

    label {
        background: linear-gradient(to bottom, rgba(white ,0) 0%,rgba(white,1) 75%);
        height: 100px;
        margin-top: -100px;
        position: relative;
        width: 100%;
        color: #db1b58;
        text-transform: uppercase;
        padding-top: 70px;
        font-weight: bolder;

        &:after{ content: ' Mais'; }
    }
}
