@import 'assets/styles/_variables';

.custom-progress{
    &.horizontal{
        display: flex;
        align-items: center;

        .custom-progress--title{ min-width: 110px; }

        .custom-progress--title, .custom-progress--bar-wrapper{
            margin-right: 15px;
        }
    }

    &--title{
        text-transform: uppercase;
        color: $primary;
        font-size: 16px;
        font-weight: bold;
        letter-spacing: 1px;
        display: block;
        margin-bottom: 5px;
    }

    &--bar-wrapper{
        height: 11px;
        background-color: #CFCAD0;
        width: 100%;
    }

    &--bar{
        height: 100%;
        background-color: #F5A623;
    }

    &--caption{
        color: $primary;
        font-size: 12px;
        line-height: 14px;
        float: right;
        margin-top: 5px;
    }
}