h1,h2,h3,h4,h5{
    font-weight: 500;
    letter-spacing: 1px;
}

h2{
    color: #4A4A4A;
    font-size: 49px;
    font-weight: 900;
    letter-spacing: 1px;

    @media screen and (max-width: 640px){
        font-size: 34px;
    }
}

h5.light{
    color: #3C494E;
    font-size: 18px;
    font-weight: 300;
    letter-spacing: 1px;
}

.divider{
    color: #4A4A4A;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 1px;
    padding-bottom: 10px;
    border-bottom: 2px solid $orange;
    margin-bottom: 10px;

    &.highlight{
        color: $orange;
    }
}