$font-family-sans-serif: 'Roboto', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !default;

$light-blue: #87c2e4;

$pink:  #C81967;
$orange : #F5A623;

$primary:  #C81967;
