$pink: #FF4081;
$yellow: #F6E324;

@media (min-width: 768px){
    .container {
        max-width: 100%;
    }
}

@media (min-width: 1200px){
    .container {
        max-width: 1500px;
    }
    .container-full{
        max-width: calc(100vw - 120px);
    }
}

h1{ font-size: 63px; }
h2{ font-size: 50px; }
h3{ font-size: 40px; }
h4{ font-size: 35px !important; }
h5{ font-size: 24px; font-weight: 400; line-height: 32px; }
h6{ font-size: 22px; }

@media screen and (max-width: 900px){
    h1{ font-size: 50px; }
    h2{ font-size: 40px; }
    h3{ font-size: 33px; }
    h4{ font-size: 28px !important; }
    h5{ font-size: 20px; }
    h6{ font-size: 16px; }
}

.yellow{ color: $yellow !important; }

.btn{
    background: linear-gradient(90deg, #FCEA0D 0%, #F29100 100%);
    color: $pink;
    font-size: 22px;
    font-weight: bold;
    text-align: center;
    padding: 3px 18px;
    border-radius: 35px;
    min-width: 180px;
}

.pull-right{
    float: right;
}

.home-video{
    background-image: url('/assets/images/home-video_bg.jpg');
    background-position: top center;
    position: relative;
    background-size: cover;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 100px 40% 40px 60px;

    @media screen and (max-width: 1024px){
        padding: 0px 20px 40px 20px;
    }

    @media screen and (max-width: 720px){
        min-height: 553px;

        .home-title{ line-height: 1; }

        h5.yellow{
            font-size: 16px;
            line-height: 1.1;

            .home-video--play{
                margin-top: 15px;
                margin-bottom: 20px;
            }
        }
    }

    &:before{
        content: '';
        top: 0;
        left: 0;
        width: 100vw;
        height: calc(100vh);
        position: absolute;
        background-color: rgba(0,0,0,0.3);
    }

    & > * { z-index: 1; }

    > h1, h5{ text-shadow: 0 2px 4px rgba(0,0,0,0.5); }

    &--play{
        color: #F6E324;
        text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
        background-color: #eb4283;
        border-radius: 45px;
        display: inline-block;
        font-weight: 500;
        padding: 14px 67px 14px 30px;
        background-image: url(/assets/images/play_ocupa_2.png);
        background-repeat: no-repeat;
        background-size: contain;
        background-position-x: 98%;
        margin-top: 30px;

        @media screen and (max-width: 900px){
            font-size: 20px;
        }

        &:hover{
            text-decoration: none;
        }

        &.send-to-back{
            z-index: 1;
        }
    }
}

.home-participe{
    background: linear-gradient(300deg, #E30134, #E84286);
    padding-bottom: 120px;

    @media screen and (max-width: 900px){
        padding-bottom: 60px;
    }

    @media screen and (max-width: 1024px){
        .col-md-7{
            flex: 0 0 100%;
            max-width: 100%;
        }
    }

    @media screen and (min-width: 1024px) {
        .col-md-12.col-xl-6{
            padding: 0 90px;
        }
    }

    &--title{
        font-family: "Capture it";
        font-size: 35px;
        color: white;
        margin-bottom: 10px;

        @media screen and (min-width: 1024px) {
            margin-top: 20px;
        }
    }

    &--image {
        margin-bottom: 20px;
        height: 270px;
        width: 450px;
        background-size: contain;
        background-repeat: no-repeat;

        @media screen and (max-width: 640px) {
            height: calc((100vw - 60px) / 1.9);
            width: calc(100vw - 60px);
            background-position: center;
        }
    }

    &--ilustration-wrapper{
        display: flex;
        align-items: center;
        margin-bottom: 20px;

        @media screen and (max-width: 767px) {
            order: 1;
        }

        &.left {
            @media screen and (min-width: 900px) {
                justify-content: flex-end;
            }
        }
    }

    &--ilustration-info{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;

        @media screen and (max-width: 767px) {
            order: 2;
        }
    }

    &--ilustration{
        @media screen and (max-width: 640px) {
            max-width: 90%;
            margin-top: 20px;
            display: block;
            margin-left: auto !important;
            margin-right: auto;
        }

        @media screen and (min-width: 641px) and (max-width: 1024px) {
            max-width: 100%;
            display: block;
            margin-left: auto !important;
            margin-right: auto;
        }
    }

    &--card{
        display: flex;
        align-items: center;
        justify-content: center;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        flex-direction: column;
        text-align: center;

        &_description{
            font-size: 23px;
            margin: 20px 0;
            color: white;
        }

        .btn {
            font-size: 18px !important;
        }
    }

    .opine{
        margin-top: -80px;

        @media screen and (max-width: 900px){
            margin-top: 20px;
        }
    }
}

.home-title{
    font-family: 'Capture it';
    font-weight: 300;
    position: relative;

    @media screen and (max-width: 550px){
        font-size: 42px;
    }

    @media screen and (max-width: 320px){
        font-size: 38px;
    }
}

.carina-img{
    position: absolute;
    background: radial-gradient(rgba(255, 255, 255, 0.32), rgba(231, 71, 103, 0) 70%);
    border-radius: 50%;
    right: 100px;
    width: 450px;
    transform: translateY(-130px);
    padding: 70px;

    @media screen and (max-width: 1024px){
        position: initial;
        width: 220px;
        transform: none;
        margin: 20px auto;
        display: block;
        padding: 0;
    }
}

.home-title-bg{
    background-image: url('/assets/images/opinion-title_bg.png');
    background-size: cover;
    background-repeat: no-repeat;
    padding: 35px 0px;
    height: 150px;
    margin-bottom: 40px;

    @media screen and (max-width: 990px){
        height: 100px;
        padding: 20px 0px;
        margin-bottom: 60px;

        .pull-right{ float: left; }
    }

    @media screen and (max-width: 320px){
        height: 80px;
    }

    @media screen and (min-width: 1271px){
        margin-bottom: 20px;
        height: 190px;
        width: 100%;
        padding: 40px 0px 0px 0px;
        background-size: 100% 100%;

        &.left{ background-image: url('/assets/images/home-title_bg__left.png'); }
        &.right{ background-image: url('/assets/images/home-title_bg__right.png'); }
    }

    @media screen and (min-width: 1500px){
        margin-bottom: 0px;
    }
}
.btn-small{
    color: $yellow;
    font-family: Roboto;
    font-size: 12px;
    font-weight: bold;
    text-align: center;
    border: 2px solid $yellow;
    border-radius: 27.15px;
    padding: 7px 12px;

    &.active, &:hover{
        background: linear-gradient(90deg, #FCEA0D 0%, #F29100 100%);
        color: $pink;
        border: none;
        background-repeat: no-repeat;
        border-color: transparent;
    }
}

.home-form {
    .container{
        padding: 60px 20px;
        position: relative;

        @media screen and (max-width: 900px){
            .row{
                margin: 0px;
            }
        }
    }
    &--figure{
        position: absolute;
        width: 285px;
        right: -50px;
        top: -30px;

        @media screen and (max-width: 1200px){
            width: 195px;
            top: 20px;
        }

        @media screen and (max-width: 1500px){
            right: 0px;
        }

        @media screen and (max-width: 900px){
            display: none;
        }
    }
}

.home-contribua{
    background: linear-gradient(299.74deg, #E84286 0.05%, #E50060 45%, #E40050 75%, #E30134 100%), linear-gradient(180deg, rgba(255,255,255,0.5) 0%, rgba(0,0,0,0.5) 100%);
    padding-bottom: 90px;

    @media screen and (max-width: 900px){
        padding-bottom: 60px;

        .col-md-6.text-center img{ max-width: 50vw; margin-top: 40px; }
        .mb-60{ margin-bottom: 0px; }
        .mt-60 { margin-top: 30px; }
        h2, h5{ text-align: center; }
    }

    &--ilustration{
        display: flex;
        align-items: center;
        justify-content: center;

        @media screen and (max-width: 768px){
            img{
                margin-top: 0px !important;
                max-width: 250px !important;
            }
        }
    }
}

.home-slider{

    .slider-wrapper{
        display: flex;

        @media screen and (max-width: 900px){
            display: none;
        }

        .slide-arrow{
            width: 40px;
            display: flex;
            justify-content: center;

            &.right{
                margin-left: 10px;
            }

            &.left{
                margin-right: 10px;
            }
        }

        .slide{
            flex: 1;
            border: 0.5px solid #000000;
            border-radius: 22px;
            background-color: $pink;
            box-shadow: 0 0px 10px 0 rgba(0, 0, 0, 0.3);
            padding: 40px;
            position: relative;

            &:after{
                content: '';
                background: #8e0034;
                width: 100%;
                height: 100%;
                z-index: 1;
                position: absolute;
                top: 0;
                left: 0;
                border-radius: 22px;
                opacity: 0.6;
            }

            > * {
                position: relative;
                z-index: 10;
            }

            &-title{
                display: block;
                margin-left: -40px;
                width: calc(100% + 80px);
                padding: 25px 40px 25px 150px;
                background: linear-gradient(90deg, #E84286 0.05%, #E50060 45%, #E40050 75%, #E30134 100%);
                box-shadow: 0 7px 4px 0 rgba(0,0,0,0.22), 0 -3px 7px 0 rgba(0,0,0,0.3);
            }

            &-title-img{
                position: absolute !important;
                width: 220px;
                top: -10px;
                left: -50px;
            }

            &-actions {
                display: flex;
                justify-content: space-between;
                a{
                    border-radius: 40px;
                    color: #FFFFFF;
                    font-size: 18px;
                    font-weight: 500;
                    line-height: 20px;
                    text-align: center;
                    padding: 12px 18px 12px 60px;
                    position: relative;

                    &.agree{
                        border: 3px solid #7ED321;
                        i { background: #7ED321; padding: 15px; }
                    }
                    &.disagree{
                        border: 3px solid #E94485;
                        i{ background: #E94485; }
                    }
                    &.pass{
                        border: 3px solid #F6E324;
                        i { background: #F6E324; }
                    }

                    i{
                        border-radius: 50%;
                        position: absolute;
                        left: -1px;
                        top: -1px;
                        padding: 15px 18px;
                    }
                }
            }

            &-description{
                margin: 40px 0px;
            }
        }
    }
}

.slider{
    overflow: hidden;
    height: 726px;
    width: 610px;
    padding: 0 80px;
    position: relative;

    &-next, &-prev{
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 0;
        width: 40px;
        height: 40px;
        background-color: $yellow;
        border-radius: 50%;
        font-size: 40px;
        line-height: 19px;
        padding: 10px;
        text-decoration: none;
        font-weight: 300;

        &.disabled{
            opacity: 0.5;
            pointer-events: none;
        }
    }

    &-next{
        left: auto;
        right: 0;
    }

    .slide{
        display: none;

        &.active{ display: initial; }
    }
}

h6.text-separator{ display:inline; }

.text-separator{
    position: relative;

    &:before {
        content: '';
        width: 40px;
        height: 3px;
        background: #f3e700;
        position: absolute;
        top: -8px;
    }
}

.row-forum{
    @media screen and (max-width: 1200px){
        margin-top: 60px;
    }
}