<menu></menu>
<div class="home-video">
  <h1 class="home-title yellow">Com novas ideias, podemos virar o jogo</h1>
  <h5 class="yellow">
    Traga sua opinião para a construção colaborativa de um novo projeto de país. Ocupe o poder você também!
    <br>
    <a href="#" class="home-video--play" (click)="controlVideo('play')"> Assista ao vídeo </a>
  </h5>
</div>

<div class="modal-video" [ngClass]="{ 'active' : videoModalActive }" *ngIf="videoModalActive">
  <div class="close" (click)="videoModalActive = false; controlVideo('pause')">&times;</div>
  <youtube-player
  videoId="ZRKJqlzJV0g"
  (ready)="savePlayer($event)"
  (change)="onStateChange($event)"
  ></youtube-player>
</div>

<div class="home-participe" id="participe" style="position:relative;">
  <div class="home-title-bg left">
    <div class="container container-full">
      <h1 class="home-title pink">Participe</h1>
    </div>
  </div>

  <div class="container">
    <div class="row row-forum">
      <div class="col-md-6 text-sm-center text-md-right home-participe--ilustration-info">
        <h6 class="yellow text-uppercase text-separator">Participe do nosso fórum</h6>
        <h4 class="home-title text-white">Utilize nosso canal de comunição para debater e construir com nossa comunidade</h4>
        <p><a routerLink="/forum" class="btn">Entre agora</a></p>
      </div>

      <div class="col-md-6 home-participe--ilustration-wrapper">
        <img src="/assets/images/home_forum.png" width="375" class="ml-5 home-participe--ilustration">
      </div>
    </div>

  </div>
</div>

<div class="home-form">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h6 class="text-uppercase text-pink">Junte-se a nós e construa um novo Brasil.</h6>
      </div>
      <form #join_us="ngForm" class="form-inline" [class.hidden]="join_us.submitted">
        <div class="col-md-4">
          <input required type="text" [(ngModel)]="user.name" name="name" [ngClass]="{'border-danger': join_us.controls.name?.errors && !join_us.controls.name?.pristine}"
          placeholder="Digite seu nome*">
        </div>
        <div class="col-md-3">
          <input required email type="email" [(ngModel)]="user.email" name="email" [ngClass]="{'border-danger': join_us.controls.email?.errors && !join_us.controls.email?.pristine}"
          placeholder="E-mail*">
        </div>
        <div class="col-md-3">
          <input required type="text" [textMask]="{mask: cepMask}" pattern="\d{5}-\d{3}" [(ngModel)]="user.zipcode" name="zipcode"
          [ngClass]="{'border-danger': join_us.controls.zipcode?.errors && !join_us.controls.zipcode?.pristine}" placeholder="CEP*" (change)="fetchAddress()">
        </div>
        <div class="col-md-10 recaptcha-container">
          <ngx-invisible-recaptcha #recaptcha type="image" badge="inline" lang="pt_BR" class="recaptcha-badge" (success)="markAsHuman($event)"></ngx-invisible-recaptcha>
          <button (click)="verifyRobot()" class="btn pull-right mt-sm-15">Enviar</button>
        </div>
      </form>
      <div class="col-md-10">
        <p *ngIf="user.subscribed" class="text-uppercase text-pink">
          Obrigado, <span class="text-yellow">{{ user.name }}</span>, seu cadastro foi realizado
        </p>
        <p *ngIf="user.exists" class="text-uppercase text-pink">
          Já existe um usuário com este email na plataforma. Por favor
          <a class="text-yellow" [routerLink]="['login']">entre</a> e complete seu perfil com suas informações
        </p>
        <p *ngIf="captchaWaiting" class="text-uppercase text-pink">
          Validando CAPTCHA...
        </p>
        <p *ngIf="captchaInvalid" class="text-uppercase text-pink">
          CAPTCHA inválido. Não foi possível cadastrar usuário
        </p>
      </div>
      <img class="home-form--figure" src="/assets/images/imagem correria 3.png">
    </div>
  </div>
</div>


<div class="home-contribua" id="contribua">
  <div class="home-title-bg right">
    <div class="container container-full">
      <h1 class="home-title pink pull-right">Contribua</h1>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <!-- <div class="col-md-6 text-center mb-60 show-for-mobile">
        <img src="/assets/images/figura_tambor.png" width="375">
      </div>
      <div class="col-md-6">
        <h2 class="home-title mb-40 mt-60 yellow">FAÇA UMA DOAção:</h2>
        <h5 class="text-white">É com sua  contribuição e a de milhares de jovens que vamos nos manter na luta por um país melhor e mais justo.</h5>
        <h5 class="text-white text-center text-uppercase mt-40 mb-20">FAÇA SUA DOAÇÃO</h5>
        <p class="text-center"><a href="#" class="btn">Doar</a></p>
      </div>
      <div class="col-md-6 text-center mb-60 show-for-desktop">
        <img src="/assets/images/figura_tambor.png" width="375">
      </div> -->

      <div class="col-md-6 text-center home-contribua--ilustration">
        <img src="/assets/images/ilustra_caramegafone.png" width="375">
      </div>
      <div class="col-md-6 text-center">
        <h2 class="home-title mb-30 mt-30 yellow">Compartilhe</h2>
        <h6 class="text-white fw-normal">Compartilhando, nossos conteúdos com seus amigos, você está contribuindo para a difusão da Plataforma OCUPA. </h6>
        <h6 class="yellow text-uppercase mt-20 mb-20">COMPARTILHE EM SUAS REDES SOCIAIS!</h6>
        <p class="flex-justify-center">
          <a href="https://www.facebook.com/sharer.php?u=https%3A%2F%2Focupa.org.br%2F" target="_blank" class="btn-outline-social"> <i target="_blank" class="fab fa-facebook-f"></i> </a>
          <a href="http://twitter.com/share?text=Ocupa!" target="_blank" class="btn-outline-social"> <i class="fab fa-twitter"></i> </a>
        </p>
      </div>

      <div class="col-md-6 text-center show-for-mobile">
        <img src="/assets/images/imagem correria 3.png" width="280">
      </div>
      <div class="col-md-6 text-center">
        <h2 class="home-title mb-30 mt-60 yellow">Cadastre-se</h2>
        <h6 class="text-white fw-normal">A Platafoma Ocupa oferece ações voltadas ao engajamento político e digital.</h6>
        <h6 class="yellow text-uppercase mt-20 mb-20">Junte-se a nós e construa um novo Brasil.</h6>
        <p class="text-center"><a href="/registrar" class="btn">Cadastre-se</a></p>
      </div>
      <div class="col-md-6 text-center mb-40 show-for-desktop">
        <img src="/assets/images/imagem correria 3.png" width="325">
      </div>

    </div>
  </div>
</div>

<home-footer></home-footer>
