<div>
  <div class="row justify-content-center">
    <div class="col-md-10">
      <div class="panel mt-60 mb-20">
        <p *ngIf="loading">Carregando...</p>
        <p *ngIf="!loading && !status.error">Inscrição cancelada com sucesso!</p>
        <p *ngIf="!loading && status.error">Um erro ocorreu:</p>
        <app-form-errors *ngIf="form_errors.transaction" [field_error]="form_errors.transaction"></app-form-errors>
      </div>
    </div>
  </div>
</div>