<menu></menu>
<page-header color="orange" title="Conversas" ></page-header>

<div class="container mt-60">
  <app-conversations [conversations]="conversations" (onPlayVideo)="controlVideo('play', $event)"></app-conversations>
</div>

<div class="modal-video--bg" [ngClass]="{ 'active' : videoModalActive }"></div>
<div *ngIf="videoModalActive" class="modal-video" [ngClass]="{ 'active' : videoModalActive }">
  <div class="close" (click)="controlVideo('pause'); videoModalActive = false">&times;</div>
  <youtube-player [videoId]="videoModalConversation.polis_url" (ready)="savePlayer($event)" (change)="onStateChange($event)"></youtube-player>
  <a routerLink="/conversas/{{ videoModalConversation.slug }}" class="btn btn-large">Contribuir com a discussão sobre {{ videoModalConversation.title }}</a>
</div>