$pink: #FF4081;
$yellow: #F6E324;

textarea{
    margin: 30px 0;
    padding: 20px 15px;
    border-radius: 17px;
    border: 2px solid gray;
    box-shadow: 0 0px 15px rgba(0, 0, 0, 0.11);
    background: #f7f7f7;
}

.opinion-title{
    background-image: url('/assets/images/opinion-title_bg.png');
    font-family: 'Capture It';
    font-size: 40px;
    color: $pink;
    padding: 13px 0;
    margin-bottom: 20px;
}

.opinion-card{
    flex: 1;
    border: 0.5px solid #000000;
    border-radius: 22px;
    background-color: $pink;
    box-shadow: 0 0px 10px 0 rgba(0, 0, 0, 0.3);
    padding: 40px;
    position: relative;

    &:after{
        content: '';
        background: #8e0034;
        width: 100%;
        height: 100%;
        z-index: 1;
        position: absolute;
        top: 0;
        left: 0;
        border-radius: 22px;
        opacity: 0.6;
    }

    > * {
        position: relative;
        z-index: 10;
    }

    &--title{
        display: block;
        margin-left: -40px;
        width: calc(100% + 80px);
        padding: 25px 40px 25px 150px;
        background: linear-gradient(90deg, #e09700, #f2d200 100%);
        box-shadow: 0 7px 4px 0 rgba(0, 0, 0, 0.22), 0 -3px 7px 0 rgba(0, 0, 0, 0.3);
    }

    &--title-img{
        position: absolute !important;
        width: 220px;
        top: -10px;
        left: -50px;
    }

    &--actions {
        display: flex;
        justify-content: space-between;
        a{
            border-radius: 40px;
            color: #FFFFFF;
            font-size: 18px;
            font-weight: 500;
            line-height: 20px;
            text-align: center;
            padding: 12px 18px 12px 60px;
            position: relative;

            &.agree{
                border: 3px solid #7ED321;
                i { background: #7ED321; padding: 15px; }
            }
            &.disagree{
                border: 3px solid #E94485;
                i{ background: #E94485; }
            }
            &.pass{
                border: 3px solid #F6E324;
                i { background: #F6E324; }
            }

            i{
                border-radius: 50%;
                position: absolute;
                left: -1px;
                top: -1px;
                padding: 15px 18px;
            }
        }
    }

    &--description{
        margin: 40px 0px;
    }
}
